<div class="contact-main-container">
    <h1 class="content-header">Get in Touch</h1>
    <div>

        <form action="/contact/request" method="POST" class="contact-form">
            <div class="contact-container">
                
                <label class='question-field-title' for="email">Name : <span>*</span></label>
                <input class="contact-input-form" type="email" class="ask-question-email" name="email" required>
                
            </div>
            <div class="contact-container">
                
                <label class='question-field-title' for="email">Email : <span>*</span></label>
                <input class="contact-input-form" type="email" class="ask-question-email" name="email" required>
                
            </div>
            <div class="contact-container">
                
                <label class='question-field-title' for="question">Message : </label>
                <textarea name="question" class='contact-input-form ask-question'  rows="4" cols="50" placeholder="Type your question here..">
                </textarea>
            </div>
            <button type="submit" class="btn btn btn-primary submit-btn">send</button>
        </form>
    </div>
    <div class="address-info-main-container">
        <div class="mailing-address address-container">
            <h3 class="address-heading">Mailing Address</h3>
            <p>Service dogs for the blind</p>
            <p>National dogs center</p>
            <p>P.O. Box 111</p>
            <p>Guelph, Ontaio, N1E2W3</p>
        </div>
        <div class="contact-page-info address-container">
            <h3 class="address-heading">Contact Information</h3>
            <p>Phone: <a href="tel: +1519000000">+1 519 000-000</a> </p>
            <p>Email: <a href="mailto: info@servicedogs.ca">info@servicedogs.ca</a></p>
        </div>
        <div class="office-hours-contact address-container">
            <h3 class="address-heading">Office Hours</h3>
            <p><span>Monday - Friday: </span> 8:30am - 5:00pm</p>
            <p><span>Weekends: </span> Closed</p>
            <p><span>Holidays: </span> Closed</p>
        </div>
    </div>
</div>