<div class="contact-main-container">
    <h1 class="content-header">Get in Touch</h1>
    <div id="contactFormContainer">

        <form class="contact-form" id="contact-form-element" >
            <div class="contact-container">
                
                <label class='question-field-title' for="name">Name : <span>*</span></label>
                <input class="contact-input-form" type="text" class="ask-question-email" name="name" required>
                
            </div>
            <div class="contact-container">
                
                <label class='question-field-title' for="email">Email : <span>*</span></label>
                <input class="contact-input-form" id="email" type="email" class="ask-question-email" name="email" required>
                
            </div>

            <div class="contact-container">
                
                <label class='question-field-title' for="question">Message : <span>*</span> </label>
                <textarea name="question" class='contact-input-form ask-question' rows="4" cols="50" placeholder="Type your question here.." required></textarea>

            </div>
            <button type="submit" class="btn btn btn-primary submit-btn">send</button>
        </form>
    </div>
    <div id="successMessage" class="hidden">Question submitted successfully!</div>
    <div class="address-info-main-container">
        <div class="mailing-address address-container">
            <h3 class="address-heading">Mailing Address</h3>
            <p>Service dogs for the blind</p>
            <p>National dogs center</p>
            <p>P.O. Box 111</p>
            <p>Guelph, Ontaio, N1E2W3</p>
        </div>
        <div class="contact-page-info address-container">
            <h3 class="address-heading">Contact Information</h3>
            <p>Phone: <a href="tel: +1519000000">+1 519 000-000</a> </p>
            <p>Email: <a href="mailto: info@servicedogs.ca">info@servicedogs.ca</a></p>
        </div>
        <div class="office-hours-contact address-container">
            <h3 class="address-heading">Office Hours</h3>
            <p><span>Monday - Friday: </span> 8:30am - 5:00pm</p>
            <p><span>Weekends: </span> Closed</p>
            <p><span>Holidays: </span> Closed</p>
        </div>
    </div>
</div>

<script>
    const contactForm = document.querySelector('#contact-form-element');
    const contactFormContainer = document.getElementById('contactFormContainer');
    const successMessage = document.getElementById('successMessage');
    const emailElement = document.getElementById('email');

    function isValidEmail(email) {
        const allowedProviders = ['gmail.com', 'hotmail.com'];
        const allowedExtensions = ['.net', '.dev', '.com', '.in'];

        if (!email || email.indexOf('@') < 1) {
            return false;
        }

        const [username, domain] = email.split('@');
        const [, extension] = domain.split('.');

        const isProviderValid = allowedProviders.includes(domain);
        const isExtensionValid = allowedExtensions.includes(`.${extension}`);

        return isProviderValid && isExtensionValid;
    }


    function checkEmail() {
        const emailValue = emailElement.value.trim();
        const isEmailValid = isValidEmail(emailValue);
        
        
        
     
        if (emailValue === '') {
            emailElement.style.borderColor = '#ccc';

        } else if (isEmailValid) {
            emailElement.style.borderColor = 'green';
            
            
        } else {
            emailElement.style.borderColor = 'red';
            
        }

        return isEmailValid;
    }

    emailElement.addEventListener('input', function () {
        // Enable or disable the button based on the validity of the email
        checkEmail()
        
    });

    
    

    contactForm.addEventListener('submit', async function(event) {
        event.preventDefault();
        if(!checkEmail()){
            return
        }
        const formData = {
            name: document.querySelector('input[name="name"]').value,
            email: document.querySelector('input[name="email"]').value,
            question: document.querySelector('textarea[name="question"]').value
        };
        console.log(formData)
        try {
            const response = await fetch('/contact/contact-request', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData),

            });
            
            if (response.ok) {
                // If form submission is successful (status code 200), hide the form and display success message
                contactFormContainer.classList.add('hidden');
                successMessage.classList.remove('hidden');
            } else {
                successMessage.textContent= "Error occurred. Please try after sometime"
                successMessage.classList.remove('hidden');
            }
    } catch (error) {
        console.error('Error submitting form:', error);
        successMessage.textContent= "Error occurred. Please try after sometime"
        successMessage.classList.remove('hidden');
        // Handle other errors (e.g., network issues)
    }
});
</script>