<div class="admin-user-main-container">

    <div style="min-width: 25rem;" class="form-container login-container admin-user-container">
        <h2>Admin Login</h2>
        <form class='user-form' action="/admin/login" id="loginForm" method="POST">
            <% if (error) { %>
                <p class="message error" id="admin-login-error-message" style="color: red;"> <%= error %> </p>
            <% } %>
            
            <div class="form-group">
                <label for="username">Username: </label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group" style="margin-bottom: -10px;">
                <label for="password">Password: </label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
    
            <button style="margin-top:2rem" class="btn btn-primary form-btn" type="submit">Login</button>
        </form>

        <!-- <div class="check-user">
            Don't have an account? <a style="color:blue" href="/admin/register">Sign up</a>
        </div> -->
    </div>
</div>

<script>
    // Check if error message exists
    var errorMessage = document.getElementById('admin-login-error-message');
    if (errorMessage) {
        // remove error after 4 sec
        setTimeout(function() {
            errorMessage.style.display = 'none';
        }, 4000);
    }
</script>