<div class="admin-user-main-container">

    <div class="admin-user-container">
        <h2>Admin Login</h2>
        <form action="/admin/login" id="loginForm" method="POST">
            <% if (error) { %>
                <p class="message error" id="admin-login-error-message" style="color: red;"> <%= error %> </p>
            <% } %>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/admin/register">Sign Up</a></p>
        
    </div>
</div>

<script>
    // Check if error message exists
    var errorMessage = document.getElementById('admin-login-error-message');
    if (errorMessage) {
        // remove error after 4 sec
        setTimeout(function() {
            errorMessage.style.display = 'none';
        }, 4000);
    }
</script>