<div class="admin-user-main-container">

    <div class="admin-user-container">
        <h2>Admin Signup</h2>
        <form id="signupForm">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <label for="confirmpassword">Password:</label>
            <input type="password" id="password" name="confirmpassword" required>
            <button type="submit">Sign Up</button>
        </form>
        <p>Already have an admin account? <a href="/admin/login">Login</a></p>
        <p><a href="/admin">Admin Main  Page</a></p>
    </div>
</div>