<div class="application-main-container training-requests-container">
    <% trainingRequests.forEach(function(application) { %>
        <div class="application-container">

            <p>Name: <span><%= application.name %></span></p>
            <p>Occupation: <span><%= application.occupation %></span></p>
            <p>Age: <span><%= application.age %></span></p>
            <p>Date Requested: <span><%= application.applicationDate.toLocaleDateString() %></span></p>
        </div>
        
    <% }); %>

</div>