<div style="margin-top:14rem;" id="dogImageModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Dog Image Upload</h2>
        <form action="/admin/dog-photos" enctype="multipart/form-data" method="POST">

            
            <label for="image">Image: </label>
            <input type="file" accept="image/*" id="dogImageFile" name="image">
            <button style="margin-top: 2rem; display: inline-block; width: max-content; margin-left:auto; margin-right:auto;">Upload</button>
        </form>
    </div>
</div>