.acquiring-main-container{
    margin-top: 27vh;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.acquiring-main-container div{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.acquiring-main-container h1{
    text-align: center;
}

.information-container{
    display: flex;
    justify-content: space-around;
    height: 30rem;
    align-items: center;
    /* text-align: left; */
    /* overflow: hidden; */
}
.information-content{
    width: 40%;
    font-size: 1.2rem;
    line-height: 1.5rem;
    
}
.information-content h1{
    text-align: left;
}

.information-image {
    width: 50%;
    height: 100%;
}

.information-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.financial-container{
    display: flex;
    /* flex-direction: column; */
}

.financial-content{
    width: 50%;
}

.financial-image img{
    width: 40rem;
    height: 90%;
    margin-top: 7%;
    margin-right: 2rem;
    border-radius: 10px;
    object-fit: contain;
}

.instructions-container a{
    display: block;
    width: max-content;
    margin-left:auto;
    margin-right: auto;
    /* background-color: red; */
}

/* -----------------reality dog page--------------- */

.reality-main-container{
    margin-top: 27vh;
    margin-bottom: 3rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
}
.reality-main-container h1{
    /* margin-top: 2rem !important; */
    text-align: center;
}
.information-reality-container{
    display: flex;

}
.information-reality-content{
    width: 50%;
    margin-right: 2rem;
}

.information-reality-content h1{
    text-align: left;
}

.information-reality-image{
    width: 50%;
}

.information-reality-image img{
    width: 100%;
    height: 100%;
}

/* -----------training application---------------- */

.training-main-container{
    margin-top: 27vh;
    margin-bottom: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
    
}

.training-main-container h1,h2{
    text-align: center;
}
.training-input-form{
    display: flex;
    flex-direction: column;
    width: 60%;
    /* background-color: red; */
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    border: 1px solid  black;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 4px rgba(0,0,0,.1);
}

.training-input-form div{
    margin-top: .2rem;
    margin-bottom: 2rem;
    width:100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.option-form div{
    display: flex;
    width: 10rem;
    flex-direction: row;
    /* background-color: red; */
    justify-self: center;
}
.option-form div>label{
    /* background-color: blue; */
    width: 50%;
    justify-self: flex-start;
}
.training-input-form input,select{
    font-size: 1.2rem;
}

.training-input-form .btn-primary{
    text-align: center;
}

#successModal{
    position: fixed;
    top: 40%;
    width: 40%;
    background-color:#fafdf6 ;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    right: 30%;
    border-radius: 20px;
    border: 2px solid var(--primary-color);
    box-shadow: 0 4px 4px 4px rgba(0,0,0,.1);
}
#application-submit-message{
    font-size: 1.6rem;
    display: inline-block;
    /* background-color: blue; */
    margin-bottom: auto;
    /* position: absolute; */
}

.error{
    color: red;
    margin:0;
    /* margin-bottom: 1rem; */
    align-self: center;
    justify-self: flex-end;
}


.radioLabel {
    /* background-color: black; */
    /* color: white; */
    padding: 5px;
    cursor: pointer;
}

.radioLabelSelected {
    background-color: green;
    color: white;
}
/* -----------guide-dog-journey----------------- */
.journey-main-container{
    margin-top: 28vh;
    margin-bottom: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    /* padding-top: 2rem; */
}
.journey-main-container h1{
    /* margin-top: 2rem; */
    margin-bottom: -0.3rem;
    /* text-align: center; */
}
.guide-dog-journey-inner{
    display: flex;
    flex-direction: column;
}

.guide-dog-content{
    display: flex;
    font-size: 1.24rem;
    justify-content: space-between;
    align-items: center;
}

.guide-dog-image{
    width: 45%;
}
.guide-dog-inner-content{
    width: 55%;
    padding: 0 2rem;
}

.guide-dog-image img{
    width: 100%;
    object-fit: contain;
    
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}


/* ---------------------donate page css */

.donate-page-inner-container h2{
    text-align: left;
}
.content-second-header{
    margin:0;
}
@media (max-width: 1100px) {
    
    .journey-main-container{
        margin: 0;
        margin-top: 15vh;
        margin-bottom: 3rem;
    }
    .acquiring-main-container{
        width: 90%;
        font-size: 1rem;
        margin-top: 16vh;
        /* line-height: 2rem; */
    }
    .training-main-container{
        margin-top: 16vh;
        font-size: 1rem;
        
    }
    .reality-main-container{
        margin-top: 16vh;
    }
}


@media (max-width: 992px) {
    
    .acquiring-main-container{
        width: 90%;
        font-size: 1rem;
        margin-top: 16vh;
        /* line-height: 2rem; */
    }
    .journey-main-container{
        margin: 0;
        margin-top: 18vh;
        margin-bottom: 3rem;
    }
    .journey-main-container h1{
        text-align: center;
    }
    .guide-dog-image{
        width: 90%;
        margin-top: 1rem;
    }
    .guide-dog-inner-content{
        width: 90%;
        /* padding: 0 2rem; */
    }

    .training-main-container{
        margin-top: 16vh;
        font-size: 1rem;
        
    }
    .training-input-form input,select{
        font-size: 1rem;
    }
    .reality-main-container{
        margin-top: 16vh;
        width: 90%;
        font-size: 1rem;
    }
    .acquiring-main-container h1{
        line-height: 2.5rem;

    }
    .information-container{
        flex-direction: column;
        height: max-content;
    }
    .information-content{
        width: 100%;
        font-size: 1rem;      
    }
    .information-content h1{
        text-align: left;
    }
    
    .information-image {
        width: 100%;
    }
    .financial-container{
        flex-direction: column;
    }
    
    .financial-content{
        width: 100%;
    }
    
    .financial-image img{
        width: 100%;
        height: 100%;
        margin-right: 0;
    }
    .information-reality-container{
        flex-direction: column;
    
    }
    .information-reality-content{
        width: 100%;
    }

    .information-reality-image{
        width: 100%;
    }
    
    .information-reality-image img{
        width: 100%;
        height: 100%;
    }
    .training-input-form{
        width: 90%;
        padding: 2rem;

    }
    .option-form div{
        width: 100%;
    }
}
@media (max-width: 768px) {
    .acquiring-main-container{
        width: 90%;
        font-size: 1rem;
        margin-top: 23vh;
        /* line-height: 2rem; */
    }
    .reality-main-container{
        margin-top: 26vh;
        width: 90%;
        font-size: 1rem;
    }
    .training-main-container{
        margin-top: 25vh;
        margin-left: 0;
        margin-right: 0;
        padding: 1rem;
    }
    .training-input-form{
        padding: 1rem;
    }
    .guide-dog-content{
        font-size: 1rem;
        flex-direction: column;
    }
    .journey-main-container{
        margin: 0;
        width: 90%;
        margin-top: 25vh;
        margin-bottom: 3rem;
    }
    .acquiring-main-container{
        width: 90%;
        font-size: 1rem;
        margin-top: 16vh;
        /* line-height: 2rem; */
    }
    .guide-dog-inner-content{
        width: 90%;
        /* padding: 0 2rem; */
    }
}

@media (max-width: 600px) {
    .acquiring-main-container{
        margin-top: 27vh;
    }
    .reality-main-container{
        margin-top: 28vh;
    }
    .training-main-container{
        margin-top: 27vh;
    }
    .journey-main-container{
        margin-top: 27vh;
    }
}
