.acquiring-main-container{
    margin-top: 27vh;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.content-header{
    font-size: 2.6rem !important;
}
.acquiring-main-container div{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.acquiring-main-container h1{
    text-align: center;
    font-size: 1.8rem;
}
.information-container{
    display: flex;
    justify-content: space-around;
    height: 30rem;
    align-items: center;
    overflow: hidden;
}
.information-content{
    width: 40%;
    font-size: 1.2rem;
    line-height: 1.5rem;
    

}
.information-image {
    width: 50%;
    height: 100%;
}

.information-image img{
    width: 100%;
    height: 100%;
}

.financial-container{
    display: flex;
    /* flex-direction: column; */
}

.financial-content{
    width: 50%;
}

.financial-image img{
    width: 40rem;
    height: 90%;
    margin-top: 7%;
    margin-right: 2rem;
    border-radius: 10px;
}

.instructions-container a{
    display: inline-block;
    /* width: 100%; */
    margin-left:40%;
    /* background-color: red; */
}

/* -----------------reality dog page--------------- */

.reality-main-container{
    margin-top: 27vh;
    margin-bottom: 3rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
}
.content-header{
    text-align: center;
    margin-bottom: 3rem;
}
.information-reality-container{
    display: flex;

}
.information-reality-content{
    width: 50%;
    margin-right: 2rem;
}
.information-reality-image{
    width: 50%;
}

.information-reality-image img{
    width: 100%;
    height: 100%;
}

/* -----------training application---------------- */

.training-main-container{
    margin-top: 27vh;
    margin-bottom: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.training-main-container h2{
    text-align: center;
}
.training-input-form{
    display: flex;
    flex-direction: column;
    width: 60%;
    /* background-color: red; */
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    border: 1px solid  black;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 4px rgba(0,0,0,.1);
}

.training-input-form div{
    margin-top: .2rem;
    margin-bottom: 2rem;
    width:100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.option-form div{
    display: flex;
    width: 10rem;
    flex-direction: row;
    /* background-color: red; */
    justify-self: center;
}
.option-form div>label{
    /* background-color: blue; */
    width: 50%;
    justify-self: flex-start;
}
.training-input-form input,select{
    font-size: 1.2rem;
}

.training-input-form .btn-primary{
    text-align: center;
}