.apply-dog-inner-container{
    /* display: flex; */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */
}

.apply-dog-main-container{
    margin-top: 27vh !important;
}

.dog-type-apply{

    display: flex;
    width: 100%;
    height: 30rem;
    margin-bottom: 3rem;
    text-align: center;
    
}
.dog-type-apply img{
    width: 60%;
}

.dog-type-apply h3{
    font-size: 2rem;
    font-family: inherit;
    text-transform: uppercase;
}

.dog-type-apply p {
    font-size: 1.2rem;
}

.assistance-dog-main-container .content-header{
    text-align: center;
    margin-bottom: 3rem;
}
.assistance-dog-inner-content h3{
    text-transform: uppercase !important;
}

@media (max-width:1100px){
    .apply-dog-main-container{
        margin-top: 20vh !important;
    }
    .dog-type-apply img{
        width: 50%;
        height: 80%;
    }
}
@media (max-width:990px){
    .dog-type-apply img{
        width: 50%;
        height: 70%;
        margin-left: .5rem;
    }
}

@media (max-width:768px){
    .apply-dog-main-container{
        margin-top: 25vh !important;
    }
    .dog-type-apply{
        flex-direction: column;
        width: 100%;
        height: max-content;
        margin-bottom: 3rem;
        text-align: justify;
    } 
    .dog-type-apply img{
        width: 100%;
        margin-top: 2rem;
    }  
}