.careers-container{
    margin-top: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.careers-container h1{
    background-color: var(--bg-light-grey);
    display: block;
    width: 100%;
    text-align: center;
    padding: 3rem;
}
.careers-container table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin: 2rem;
}

.careers-container table th, td {
    border: 1px solid var(--bg-light-grey);
    text-align: left;
    padding: .6rem;
}

.careers-container table th {
    background-color: #f2f2f2;
}

@media (max-width:1100px){
    .careers-container h1{
        padding: 3rem 0rem;
    }
    .careers-container table {
        width: 90%;
        margin: 2rem;
    }
}

@media (max-width:768px){
    .careers-container{
        margin-top: 20vh ;
    }
}