.careers-container{
    margin-top: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.careers-container h1{
    background-color: var(--bg-light-grey);
    display: block;
    width: 100%;
    text-align: center;
    padding: 3rem;
}
table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin: 2rem;
}

th, td {
    border: 1px solid var(--bg-light-grey);
    text-align: left;
    padding: .6rem;
}

th {
    background-color: #f2f2f2;
}