.dogs-list-main-container{
    margin-top: 27vh;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 3rem;
    /* justify-content: center;
    align-items: center; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
.dogs-list-main-container h1{
    font-size: 2rem
}
.dogs-list-main-container a {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
.dogs-inner-container{
    display: grid;
    margin-top: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
    text-align: left;

}

.dog-container {
    display: flex;
    cursor: pointer;
    justify-content: space-around;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 24rem;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.1);
    position: relative;
    
}
.dog-image-container{
    width: 100%;
}

.dog-image-container img {
    width: 100%; 
    height: 100%; 
    border-radius: 10px;
    border-bottom: 1px solid #ccc;
    transition: opacity 0.3s ease;
}

.dog-detail-container {
    display: none;
    background-color: var(--primary-color);
    color: black;
    transition: all 0.3s ease-out;
}

.dog-container:hover .dog-detail-container {
    display: block;
    opacity: .9;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    border-radius: 10px;
}
.dog-container:hover .dog-image-container {
    filter: brightness(60%); 
}