/* ---styles for faq-page-------- */
.faq-header-container{
    background-color: #e5e5e5;
    text-align: center;

}
.faq-content-header{
    display: inline-block;
    padding-top: 3rem;
    width:40%;
    font-size:2rem;
    /* background-color: blue; */
    text-align: center;
    /* filter: brightness(30%); */
}

.faq-container{
    /* margin-top: 30vh; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* flex-basis: 1; */
}
.faq-section{
    /* background-color: var(--primary-color); */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.faq-content{
    width: 60%;
    padding: 2rem;
}
.faq-image{
    width:40%;
    padding: 2rem;
    color:var(--primary-color)
}

.faq-section-2-image img{
    
    height: 100%;
    width: 600px;
}
.faq-section .question{
    font-size: 1.6rem;
}



.faq{
    border: 1px solid grey;
    padding: .5rem 1rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.1);
}
/* .circle-image {
    border-radius: 50%;
    max-height: 80%; 
    
} */
.answer{
    font-size: 1.2rem;

}
.answer-list-container{
    list-style:circle;
}

.ask-a-question-container {
    text-align: center;
    margin-top: 20px;
    background-color: #e5e5e5;
    padding-bottom: 2rem;
}
.ask-question-header{
    font-size: 1.7rem;
    text-transform: uppercase;
}
.question-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-container{
    margin-bottom: .5rem;
    /* display: flex; */
    text-align: left;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* background-color: blue; */
    /* width: 60%; */
}

/* .question-container input,textarea{
    resize: none;
    outline: none;
    border: 2px solid #e5e5e5;
    transition: border-color 0.3s ease;
} */
/* .question-container label{
    background-color: red;;
} */

/* .question-container input:focus,textarea:focus{
    border-color: black;
    
} */
.question-field-title{
    font-size:1.4rem
}

/* .input-form{
    font-size:1.1rem;
    margin-left: 2rem;
} */

.submit-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}
.question-container input{
    font-size: 1.4rem;
    min-width: 20rem;
}
@media (max-width:1100px){
    .faq-section-2-image img{
    
        height: 100%;
        width: 400px;
        margin-left: -4rem;
    }
}
@media (max-width:768px){

    .faq-header-container{
        height:100%;
    }
    .ask-a-question-container{
        display: flex;
        flex-direction: column;
        width:100%;
    }
    .faq-image{
        display: none;
    }
    .faq-content{
        width: 100%;
        padding: 1rem;
    }

    .question-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .question-container textarea{
        width:100%;
        margin:0;
    }
}