/* ---styles for faq-page-------- */
.faq-header-container{
    background-color: var(--primary-color);
    text-align: center;
    height: 7rem;

}
.faq-content-header{
    display: inline-block;
    width:40%;
    text-align: center;
}

.faq-container{
    margin-top: 30vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 1;
}
.faq-section{
    /* background-color: var(--primary-color); */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.faq-content{
    width: 60%;
    padding: 2rem;
}
.faq-image{
    width:40%;
    padding: 2rem;
    color:var(--primary-color)
}

.faq-section-2-image img{
    
    height: 100%;
    width: 600px;
}
.faq-section .question{
    font-size: 1.6rem;
}

.faq-image{
    font-size:20rem;
    text-align: center;
    /* background-color: red; */
}


.faq{
    border: 2px solid black;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}
/* .circle-image {
    border-radius: 50%;
    max-height: 80%; 
    
} */
.answer{
    font-size: 1.2rem;
}
.ask-a-question-container {
    text-align: center;
    margin-top: 20px;
    background-color: var(--primary-color);
    padding-bottom: 2rem;
}
.ask-question-header{
    font-size: 1.7rem;
}
.question-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-container{
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question-field-title{
    font-size:1.3rem
}

.input-form{
    font-size:1.1rem;
    margin-left: 2rem;
}

.submit-btn{
    background-color: black;
}
.question-container input{
    font-size: 1.4rem;
    min-width: 20rem;
}

@media (max-width:768px){

    .faq-header-container{
        height:100%;
    }
    .ask-a-question-container{
        display: flex;
        flex-direction: column;
        width:100%;
    }
    .faq-image{
        display: none;
    }
    .faq-content{
        width: 100%;
        padding: 1rem;
    }

    .question-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .question-container textarea{
        width:100%;
        margin:0;
    }
}