.feed-main-container{
    margin-top: 24vh;
    padding-bottom: 3rem;

    /* background-color: #e0e1dd; */
}
.feed-inner-container{
    padding-top: 2rem;
    min-height: 70vh;
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
    position: relative;
}

.sidebar {
    width: 20%;
    /* background-color: var(--primary-color); */
    background-color: #fcbf49;
    /* background-color: #e5e5e5; */
    /* position: fixed; */
    /* background-color: var(--bg-dim-white); */

    border: 1px solid rgba(0,0,0,.2);
    border-radius: 10px;
    height: 20rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,.2);

}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    margin:.5rem;
    cursor: pointer;
    /* background-color: black; */
    border:1px solid #fcbf49;
    border-bottom: 1px solid grey;
}
.sidebar ul li a{
    display: inline-block;
    width: 100%;
    color: black;
}
.sidebar ul li:hover{
    border: 1px solid white;
    border-radius: 10px;
}
.sidebar ul li.active{
    background-color: #fafdf6; 
    border-radius: 10px;
    /* font-size: 1.4rem; */
    border: none;
    /* font-weight: 550; */
}

.main-content {
    /* background-color: var(--primary-color); */
    width: 80%;
    padding: 5px;
    /* background-color: var(--bg-dim-white); */
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 10px;
    margin-left: 1rem;
    border-top:none;
}
.main-content input, textarea{
    resize: none;
    font-size: 1.2rem;
    font-family: inherit;
    margin: .5rem;
}


.main-content label{
    font-size: 1.3rem;
    margin: .5rem;
}
.post-content-header{
    font-size: 1.4rem;
    padding-top: 0;
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;
}
.post-container {
    /* background-color: var(--bg-dim-white); */
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,.2);
}

.profile-pic-container{

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.profile-pic-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;

}

.post-container .user-name{
    font-size:1.1rem;
    margin-left: 1rem;
    font-weight: 600;
    /* background-color: blue; */

}

.post-content-container{
    display: flex;
    width: 100%;
    height: 350px;
    padding: 1rem;
}

.post-image-container{
    width: 50%;
} 

.post-image-container img{
    width: 100%;
    height: 100%;
    /* border-radius: 10px; */
    object-fit: contain;
}
.post-des{
    padding: 2rem;
    font-size: 1.3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 10px;
    width: 50%;
    
}
.comments {
    display: none;
    margin-top: 10px;
    width:100%;
    resize: none;
    overflow-y: auto;
    max-height: 0;
    text-wrap: wrap;
    transition: max-height 0.6s ease-in-out; 
}

.comments.expanded {
    max-height: max-content; 
}

.comments textarea {
    width: 90%;
    margin: 10px;
    border: 1px solid #ccc;
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 10px;
    font-style: inherit;
    resize: none;
    transition: height 0.3s ease-in-out; /* Apply transition to height property */
}
.comment-item {
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    text-wrap: wrap;
}
.comment-item .comment-user{
    /* display: block; */
    margin-right: 1rem;
    font-size: 1.1rem;
    /* background-color:red; */
    text-align: center;
    height: 100%;
}

.post-details .like-btn{
    outline: none;
    border: none;
    color: white;
    /* border: 1px solid white; */
    border-radius: 5px;
    background-color: #4681f4;
    cursor: pointer;
}
.post-details .comment-btn{
    outline: none;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: #ffbd03;
    cursor: pointer;
}
.post-container button{
    font-size: 1.1rem;
    padding: 5px;
    margin-left: 1rem;

}

/* ------------New post page---------- */

.post-display-main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: max-content */
    
}
.post-display-main-content div{
    display: flex;
    flex-direction: column;
    margin: .5rem;
}

.post-display-main-content button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
}
.form-post-container {
    display: flex;
    height: 50vh;

}
.form-post-container div{
    width: 50%;
    height: 100%;;
}
#description {
    width: calc(100% - 40px); 
    max-width: 100%; 
    max-height: 300px; 
    overflow-y: auto;
    margin-right: 20px;
    padding: 10px; 
    font-size: 1.3rem;
    font-style: inherit;
    resize: none;
}

.post-submit{
    font-size: 1.3rem !important;
    padding: 10px 20px !important;
}

.profile-pic-inner-container{
    display: flex;
    align-items: center;
}
.user-post-pic-container .delete-btn{
    background-color: #ef233c;
    color: white;
    padding: .5rem 1rem;
}
.user-post-pic-container{
    justify-content: space-between;
}

