.feed-main-container{
    margin-top: 27vh;
    margin-bottom: 3rem;
    display: flex;
    width: 90%;
    min-height: 70vh;;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
}

.sidebar {
    width: 20%;
    background-color: #f2f2f2;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 10px;
    height: 20rem;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
}

.main-content {
    width: 80%;
    padding: 20px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 10px;
    margin-left: 1rem;
}
.main-content input, textarea{
    resize: none;
    font-size: 1.2rem;
    font-family: inherit;
    margin: .5rem;
}
.main-content textarea{
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.2);

}
.main-content label{
    font-size: 1.3rem;
    margin: .5rem;
}
.post-container {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.profile-pic-container{
    width: 50px;
    height: 50px;
    display: inline;
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.profile-pic-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}

.post-container .user-name{
    font-size:1.1rem;
    margin-left: 1rem;
    font-weight: 600;
    /* background-color: blue; */

}

.post-content-container{
    display: flex;
    width: 100%;
    height: 350px;
    padding: 1rem;
}

.post-image-container{
    width: 50%;
} 

.post-image-container img{
    width: 100%;
    height: 100%;
}
.post-des{
    padding: 2rem;
    font-size: 1.2rem;
    
}
.comments {
    display: none;
    margin-top: 10px;
    width:100%;
    resize: none;
    overflow-y: auto;
    max-height: 0;
    text-wrap: wrap;
    transition: max-height 0.3s ease-in-out; 
}

.comments.expanded {
    max-height: 30rem; 
}

.comments textarea {
    width: 90%;
    margin: 10px;
    border: 1px solid #ccc;
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 10px;
    font-style: inherit;
    resize: none;
    transition: height 0.3s ease-in-out; /* Apply transition to height property */
}
.comment-item {
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    text-wrap: wrap;
}


.post-container button{
    font-size: 1.1rem;
    padding: 5px;
    margin-left: 1rem;

}

/* ------------New post page---------- */

.post-display-main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post-display-main-content div{
    display: flex;
    flex-direction: column;
    margin: .5rem;
}

.post-display-main-content button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
}