
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --primary-color: #FDC500;
    /* --navbar-bg-color: transparent; */
    --bg-primary: #f5f5f5;
    --bg-secondary: #f5f5f5;
    --bg-dim-white: #f9f9f9;
    --text-primary:#f5f5f5;
    --text-secondary: #000;
    --icon-color-yellow: #fdc500;
    --grey-color: #555;
    --grey-light-clor: #ccc;
    --bg-light-grey: #e5e5e5;
    --navbar-text-color-change: #000;
    --footer-bg-color: #000;
    --transition-duration: 0.5s;

    /* --primary-colorr:#061a40;
    --bg-light-blue: #edf2fb;
    --color-extra-dark-blue: #001c55;
    --color-navy-blue: #061a40;
    --color-ocean-dark-blue: #65afff;
    --color-ocean-light-blue: #71a5de;
    --color-dark-blue: #00377e;
    --color-grey-blue: #9bafd9;
    --color-extra-light-blue: #e1ecf7; */
}
/* font-family: 'Asap Condensed', sans-serif;
font-family: 'Noto Naskh Arabic', serif;
font-family: 'Sofia Sans Semi Condensed', sans-serif; */

html{
    scroll-behavior: smooth;
}
img{
    border-radius: 10px;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: var(--bg-light-blue); */
    font-family: 'Asap Condensed', sans-serif;
    text-rendering: optimizeLegibility;   
}


h1,h2 {
    text-transform: uppercase;
}
h1{
    font-family: 'Asap Condensed', sans-serif;
    font-style: italic;
    word-spacing: 5px;
} 

h3{
font-family: 'Noto Naskh Arabic', serif;

}

h2{
    font-family: 'Asap Condensed', sans-serif;
    word-spacing: 3px;
    text-transform: capitalize;
}
a{
    text-decoration: none;
    cursor: pointer;
}

button{
    font-family: 'Asap Condensed', sans-serif;
    
}
.header {
    position: fixed;
    width: 100%;
    height: 18vh;
    top: 0;
    z-index: 1000;
    text-align: center;
    /* background-color: #fafdf6; */
    
    transition: background-color var(--transition-duration);

}

.navbar {
    font-family: 'Asap Condensed', sans-serif;
    font-size: 1.1rem;
    background-color: white;
    color: var(--navbar-text-color);
    transition: background-color var(--transition-duration);
    padding-top: 1rem;
    /* padding-bottom: -10px; */
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-transform: capitalize;

    /* align-items: center; */
    
}

.content-header{
    /* color: var(--navy-dark-color); */
    font-size: 2.5rem;
    font-style: normal;
    font-family: 'Sofia Sans Semi Condensed', sans-serif; 

    /* background-color: #e5e5e5; */
}
.logo-header {
    display: flex;
    justify-content: space-between ;
    padding: 0 20px;
    position: relative;
    
}

.logo {
    max-height: 80px;
    /* padding-right: 100px; */
}

.menu{
    position: relative;
    
}

.user-login {
    position: absolute;
    
    right: 0;
    top: -4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-login li {

    /* font-size: 1.3rem; */
    list-style: none;

}

.user-login li a{
    padding: 9px 20px;
    border: 3px solid transparent;
    color: var(--text-secondary);
}

.user-login li a:not(.index-user-container a):hover {
    background-color: var(--primary-color);
    font-weight: 500;
    
    /* color: var(--navbar-text-color-change); */
}
.user-login .nav-link{
    text-transform: lowercase;
}

.user-login .nav-link:hover a{
    border: 3px solid var(--primary-color) !important;
    background-color: none;
}

.small-profile-pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
    object-fit: cover;
    margin-right: 2px;
}
.nav-item {
    position: relative;
}

.index-user-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav-item .index-user-container{
    /* background-color: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    border: 3px solid transparent ;
    /* max-width: 3rem; */
    /* text-wrap: wrap; */
    /* height: 2rem; */
}



.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li {
    margin-right: 20px;
    
    position: relative
}


.menu ul li a {
    position: relative;
    padding: 9px 20px;
    color: var(--navbar-text-color-change);
    /* font-size: 1.3rem; */
    border: 2px solid transparent;
}



.menu ul li:not(.donate) a:hover {
    /* background-color: var(--primary-color); */
    border: 2px solid var(--primary-color);
    font-weight: 500;
    border-radius: 20px;
   
}

.menu ul li.donate{
    padding: 10px 10px;
    font-size: 1.2rem;
    background-color: var(--primary-color);
    position: relative;
    /* overflow: hidden; */
    /* border: none; */
}

.menu ul li.donate::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%; 
    width: 0;
    height: 2px;
    background-color: var(--text-secondary);
    animation: borderAnimation 2s ease infinite;
    transform: translateX(-50%);
}

@keyframes borderAnimation {
    0% {
        width: 0;
    }
    50% {
        width: 100%; 
    }
    100% {
        width: 0;
    }
}
/* --------------------sub menu ------- */
.nav-item {
    position: relative;
} 


.submenu:before {
    content: "";
    position: absolute;
    top: -10px; 
    right: 20%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent; 
    border-bottom: 15px solid var(--primary-color);
    /* transition: border-color 0.3s ease; */
}
.submenu {
    
    padding-top: 10px;
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background-color: var(--bg-secondary);
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
    width: max-content;
    background-color: var(--primary-color);
    border-radius: 10px;
    /* overflow-y: hidden; */
}


.submenu li a {
    display: block;
    text-align: left;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: var(--text-secondary);
    /* transition: color 0.2s ease;  */
    
}

.submenu li {
    list-style: none;
    margin: 0; 
    padding: 6px 0px;
    width: 100%; 
    border-bottom: 1px solid var(--text-primary);
    
}
.submenu li:last-child{
    border:  none;
}

.submenu li a:hover{
    /* background-color: var(--primary-color); */
    color: #fff;
    font-weight: 400 !important;
}

.menu ul li:hover .submenu {
    display: block;
    padding: 0;
    margin: 0;
    opacity: 1;
    /* transition-delay: 400;  */
}
.index-main-user-container .submenu{
    top: calc(100% + 0px) !important;
}
/* -------------------------- hero section----------------------------------- */

.content-container{
    margin-top: 18vh;
}

.hero {
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 82vh;
    background: url('../images/hero-new-1.jpg') no-repeat center center/cover;
    background-position: center -10%;
    text-align: center;

}

.hero-content {
    padding-top: 110px;
    padding-left: 3rem;
    max-width: 700px;
    text-align: left;
}
.hero-content h1 {
    font-size: 50px;
    
}
.hero-content p{
    font-size: 40px;
}
.scrolled .navbar{
    background-color: #fff ;
    color: #000 ;
}

.btn-primary {
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    width: max-content;
}
a.btn.btn-primary.hero-donate-btn {
    font-size: 1.4rem;
    animation: infinite scalingAnimation ease-in-out;
}

@keyframes scalingAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.content {
    height: 100vh; 
    background-color: #f8f9fa;
}

.btn-secondary{
    cursor: pointer;
    background-color: var(--navy-dark-color);
    color: #fff;
    border: none;
    font-size: 22px;
    padding: 10px 20px;
    border-radius: 5px;
}

.footer {
    background-color: var(--footer-bg-color);
    color: var(--text-primary);
    padding: 20px 30px;
    text-align: center;

}
.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-container h1{
    text-transform: capitalize;
}
.footer-container div{
    flex: 1;
    margin: 0 10px;
}
.contact-info{
    color: var(--text-primary);
    font-size: 16px;
    
}
.contact-details a{
    padding: 20px 0;
}

.social-icons {
    padding-bottom: 20px;;
    margin-bottom: 20px;
}

.social-icon {
    font-size: 24px;
    color: var(--primary-color);
    margin-right: 15px;
    transition: color var(--transition-duration);
}
.office-hours ul li{
    list-style: none;
    margin: 10px;
}

.menu-icon {
    display: none;
}

.donate-section{
    background: url('../images/image.jpg') no-repeat center center/cover fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-primary);
    font-size:1.6rem;
    text-align: center;
    padding: 2rem;
}
.donate-section h1{
    /* background-color: red; */
    font-size: 3rem;
    font-weight: 700;
    margin:0;
}
.donate-section p{
    width: 50%;
    font-size: 2rem;
    font-weight: 500;
}



/* ------------Get Involved---------------- */

.content-container{
    font-family: 'Asap Condensed', sans-serif;
    letter-spacing: .5px;
}
.get-involved-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    font-size: 1.3rem;
    text-align: center;
}
.get-involved-header{
    font-size: 3rem;
    margin:0;
}
.help-ways-container{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.help-way{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    align-items: center;
    padding:2rem;
}
.help-way i{
    color: var(--navy-dark-color);
    font-size: 6rem;
}

.help-way-heading{
    font-size: 1.6rem;
}

/* --------------end of get involve section-------------------- */

/* -----------------our dogs section-------------------- */


.our-dogs-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 3rem 1rem;
    font-size: 1.3rem;
    background-color: #eceee7;

}

.our-dogs-content-container, .our-dogs-image{
    width: 50%;
}
.our-dogs-content-container{
    height: 30rem;
}
.our-dogs-image img{
    width: 100%;
    height: 100%;
}

.our-dogs-content{
    width: 60%;
    text-align: center;
    /* background-color: red; */
    margin:0 auto;
    margin-bottom: 2rem;
    
}
/* -----------------end of our dogs sectin-------------- */

/* ----------start of Our organization---------------- */
.our-organization-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 3rem 1rem;
    font-size: 1.3rem;
}

.our-organization-content-container, .our-organization-image{
    width: 50%;
}
.our-organization-content-container{
    height: 30rem;
}

.our-organization-image img{
    width: 100%;
    max-height: 48rem;
}

.our-organization-content{
    width: 60%;
    text-align: center;
    /* background-color: blue; */
    margin:0 auto;
    margin-bottom: 2rem;
    
}


/* ----------End of Our organization---------------- */


/* -----------Our Newsletter --------------------- */

.our-newsletter-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 3rem 1rem;
    font-size: 1.3rem;
    width: 50%;
    margin: auto;
    margin-bottom: 3rem;
    box-shadow: 0px 2px 6px 6px rgba(0, 0, 0, 0.1);
}


.our-organization-content{
    width: 60%;
    text-align: center;
    /* background-color: blue; */
    margin:0 auto;
    margin-bottom: 2rem;
    
}
/* -----------End of Our Newsletter --------------------- */

/* ----------our events-------------------- */


.our-events-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    font-size: 1.3rem;
    text-align: center;
    margin: 2rem 0rem;
    background-color: #eceee7;
}
.our-events-inside-container{
    display: flex;
    width: 80%;
}
.our-events-header{
    font-size: 3rem;
    margin:0;
}
/* .our-events-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
} */

.our-events{
    display: flex;
    flex-direction: column;
    background-color: var(--text-primary);
    align-items: center;
    padding:2rem;
    width:25%;
    margin:0 1rem;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1);
}

.our-events img{
    width: 100%;
}
.our-events-heading{
    font-size: 1.6rem;
}

/* ----------End of our events-------------------- */
/* ---reviews  */
/* -------slide show css */
.slideshow-container{
    background-color: #f6fff8;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #FDC500; */
    
}
.slideshow-container h2{
    font-size: 2rem;
}
.slideshow-inner-container{
    /* width: 80%; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 1rem;
    padding-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    /* background-color: blue; */
    justify-content: center;
    
}



.mySlides .review{
    
    width: 50%;
    /* position: absolute; */
    bottom: 1rem;
    box-shadow: 2px 2px 4px rbga(0,0,0,.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #edf6f9;
    text-align: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;

}
.mySlides .dog-review-photo{
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    
}
.dog-review-photo img{
    border-radius: 0;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.mySlides .name {
    font-style: italic;
    margin-bottom: 10px;
}

.mySlides .rating {
    font-size: 18px;
   
}
.review img{
    width: 60px;
    height: 60px;
    border-radius: 50%;;
}

/* ---end of reviews */


/* ----------Media query for tablets --------------- */
@media (max-width: 992px) {
    .navbar {
        padding: 10px 20px;
    }
    
    .submenu:before {
        right: 20px;
    }
    .slideshow-inner-container{
        /* width: 80%; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        
    }
    .user-login{
        flex-direction: column;
        bottom: 5rem;
        right: -2rem;
    }
    
    
    .mySlides .review{
        
        width: 80%;
        /* position: absolute; */

    
    }
}

/* ----------Media query for smaller screens -- */
@media (max-width: 768px) {
    .user-login{
        flex-direction: column;
        bottom: 0rem;
        right: 0rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid rgba(0,0,0,.3);
    }
    .nav-item .index-user-container{
        flex-direction: column;
    }
    .slideshow-inner-container{
        /* width: 80%; */
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        
    }
    
    
    
    .mySlides .review{
        
        width: 80%;
        /* position: absolute; */

    
    }
    .help-ways-container{
        flex-direction: column;
    }
    .help-way{
        border-bottom: 1px solid rgba(0,0,0,.2);
    }
    .our-dogs-container{
        flex-direction: column;
    }
    .our-dogs-image{
        display: none;
    }
    .our-dogs-content-container{
        width: 90%;
        height: max-content;
    }
    .our-organization-image{
        display: none;
    }
    .our-organization-content{
        width: 80%;
    }

    .our-organization-content-container{
        width: 90%;
    }

    .our-events-inside-container{
        width: 90%;
        flex-direction: column;
    }

    .our-events{
        width:90%;
        padding: 0;
        margin-bottom: 2rem;
    }
    .our-events-container{
        width: 100%;
        margin: 0;
    }
    .our-newsletter-container{
        width: 90%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
    }
    .logo {
        max-height: 60px;
        padding: 20px;
    }

    .menu-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 2rem;
        padding-top: 40px;
    }

    .bar {
        background-color: var(--text-secondary);
        height: 3px;
        width: 25px;
        margin: 3px 0;
        transition: 0.4s;
    }

    .logo-header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding:0;
    }
    
    .submenu.active {
        display: block;
        
    }
    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-item {
        margin-bottom: 10px;
    }
    .user-login {
        margin-top: 10px;
    }

    .menu {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 10px;
        background-color: var(--primary-color);
    }
    .nav-item-container>li{
        margin-top: 1rem;
    }
    .user-login{
        position: relative;
        top: 0;
    }
    .user-login li{
        margin-top: 1rem;
        margin-bottom: .5rem;
    }
    .menu.active {
        display: flex;
    }
    .nav-item.active .submenu {
        display: block;
    }
    .nav-item.active ~ .nav-item {
        margin-top: 100px; 
        transition: margin-top 0.3s ease; 
    }
    .nav-item.active + .nav-item .submenu {
        margin-top: 20px; 
        transition: margin-top 0.3s ease; 
    }
    .submenu:before {
        right: 10px;
    }

    .submenu {
        top: 100%;
        right: 0;
        left: auto;
        width: 100%;
        position: absolute;
        z-index: 1000;
        background-color: var(--bg-primary);
    }
    .nav-item-container{
        display: flex;
        flex-direction: column;
    }
    .menu ul li {
        
        width: 100%;
        /* background-color: bisque; */
    }

    .hero-content h1 {
        font-size: 40px;
    }

    .hero-content p {
        font-size: 30px;
    }

    .donate-section{
        padding: 0;
        padding-bottom: 2rem;
    }
    .donate-section p{
        width: 70%;
    }
    .footer-container {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    .footer-container div {
        margin: 10px 0;
    }

    .contact-info {
        font-size: 14px;
    }

    .social-icons {
        margin-bottom: 10px;
    }
}


.btn-secondary{
    padding: .5rem 1rem;
    font-size: 1.2rem;
    color: black;
    background-color: var(--primary-color);
    text-transform: lowercase;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
select,
textarea {
    cursor: pointer;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    outline: none; 
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
    border-color: var(--primary-color);
}
input[type="radio"],
input[type="checkbox"]{
    cursor: pointer;
    padding: 4px;
}
.hidden {
    display: none;
}

input[type='file']{
    resize: none;
    cursor: pointer;
    font-size: 1.2rem;
    outline: var(--primary-color);

    font-family: inherit;
    margin: .5rem;

}

.error {
    color: red;
}

.error-border {
    border: 2px solid red;
}


