/* ------contains user login and registration styles-------------- */



/* -----user registraion and login container styles---------- */


.form-container{
    color: black;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    font-size: 1.4rem;
    text-align: center;
    width: 34%;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    margin-top: 27vh;
    margin-bottom: 2rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    min-height: 65vh;
    /* background-color: var(--primary-color); */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 2rem;
    font-family: 'Sofia Sans Semi Condensed', sans-serif; 
    /* transition: all .5s ease-in-out; */
    
}
.form-container input{
    font-family: inherit;
}
.registration-container{
    width: 80%;
}
.form-container h2{
    display: inline-block;
    font-size: 1.4rem;
    /* background-color: blue; */
    
}

.user-form{
    display: flex;
    flex-direction: column;
}
.user-form input{
    font-size:1.1rem;
    padding: .3rem;
}
.user-form div{

    margin: .5rem 1rem;
}
.submit-form-container{
    width: 100%;
    grid-column: span 2;
    /* background-color: red; */
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 1rem; 
}
.form-group input{
    max-width: 70%;
}

.register-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    font-size: 1.2rem;
    position: relative;
}
.form-control {
    font-size: 1.4rem;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    width: calc(100% - 20px);
    box-sizing: border-box; 
}

.form-btn{
    cursor: pointer;
    color: var(--text-secondary);
    margin-bottom: 2rem;
    padding-left: 40px;
    padding-right: 40px;
    align-self: center;

}

.form-container .errors {
    color: red;
    font-size: 14px;
    position: absolute;
    bottom: 5rem;
    width: 100%;
    /* display: none; */
}

.password-field-signup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem; 
    /* background-color: blue; */
}

.input-field-password-container {
    display: flex;
    width: 100%;

    justify-content: space-between;
}

.btn-google {
    background-color: #4285f4;
    color: #ffffff;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    width: max-content;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
  
.btn-google:hover {
    background-color: #3c79e6;
}
.or-element{
    font-size: 15px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}
.or-element::before,
.or-element::after {
    content: "";
    flex: 1;
    border-top: 1px solid #888;
    margin: 0 10px;
}

.confirmpassword-container{
    /* background-color: red; */
    align-items: start;
    margin-top: 10px;
    position: relative;
}
.password-inner-container{
    position: relative;
}

.show-password{
    position: absolute;
    cursor: pointer;
    right:0;
    top: -6%;
    padding: 5px 10px;
    font-size: 14px;
    border-left: 2px solid rgba(0, 0, 0, 0.1);
    text-transform: lowercase;
}

.password-inner-container .show-password{
    top: 17%;
    right: 2%;
} 

.login-submit-container{
    position: relative;
    margin-top: 4rem;
}

/* --------------reset password--------------- */
.password-reset-container{
    margin-top: 27vh;
    width: 40%;
    border: 2px solid var(--primary-color);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 3rem;
    border-radius: 10px;
}
.password-reset-container form{
    margin: 2rem;
    font-size: 1.2rem;
}

.password-reset-container input{
    width: 80%;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 1rem;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid var(--primary-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    animation: spin 2s linear infinite;
    display: none;
    margin-bottom: 2rem;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* ------------profile page------------- */

.profile-container {
    width:  60%;
    margin-top: 27vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}
/* border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px; */

.profile-container label, input {
    margin-bottom: 10px;
}

.profile-container #save-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.profile-container #save-button:hover {
    background-color: #2980b9;
}

.profile-form-container{
    display: flex;
    justify-content: space-around;
    height: 16rem;
}

.profile-page-pic-container{
    /* background-color: red; */
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem;

}

.profile-page-pic-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.file-input-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.file-input {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    /* opacity: 0; */
}

.custom-file-button {
    background-color: #63a6ed;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
}


.custom-file-button i {
    margin-right: 5px; /* Adjust the spacing between the icon and text */
}





.profile-page-details-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* -------------change password------------ */
.change-password-container{
    width: 30rem;
    margin-top: 27vh;
    margin-bottom: 3rem;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 2rem;
}
#change-password-message{
    font-size:16px;
    height: 20px;
}
.change-password-container .changepassword-form{
    width: 90%;
}

#changepassword-form div input{
    max-width: 90% !important;
    font-size:1.1rem;
}

#changepassword-form li{
    list-style: none;;
}
#password-match-error-new{
    font-size: 14px;
    height: 18px;
}


/*--------- for tablet scrrens */
@media (max-width: 1100px) {
    .password-reset-container{

        width: 60%;

    }
    .form-container{
        width: 60%;
        min-height: max-content;
    }
    .form-group{
        flex-direction: column;
        align-self: flex-start;
        /* background-color: red; */
        width: 90%;
        padding: 0;
        
    }
    .form-group label{
        display: block;
        width: 90%;
        /* background-color: red; */
    }
    .form-group input{
        max-width: 90%;
    }
    .register-form{
        display: flex;
        flex-direction: column;
    }
    .input-field-password-container {
        flex-direction: column;
        /* background-color: red; */
        align-items: center;

        
    }
    .show-password{

        top: 25%;
        right: 20px;

    }
    .confirmpassword-container{
        /* background-color: red; */
        align-items: center;
    }
    .form-container .errors {
        bottom: 5rem;
    }
    .change-password-container{
        width: 60%;
    }
    .profile-container {
        width:  60%;
        padding: 0;
        padding-bottom: 2rem;
        
    }
    .profile-form-container{
        flex-direction: column;
        justify-content: space-around;
        height: max-content;
        align-items: center;
    }
    .profile-page-details-container{
        margin-top: 2rem;
    }

}

/* ----------Media query for smaller screens -- */
@media (max-width: 768px) {

    .password-reset-container{

        width: 90%;

    }
    .form-container{
        width: 90%;
        min-height: max-content;
    }
    .form-group{
        flex-direction: column;
        align-self: flex-start;
        /* background-color: red; */
        width: 90%;
        padding: 0;
        
    }
    .form-group label{
        display: block;
        width: 90%;
        /* background-color: red; */
    }
    .form-group input{
        max-width: 90%;
    }
    .register-form{
        display: flex;
        flex-direction: column;
    }
    .input-field-password-container {
        flex-direction: column;
        /* background-color: red; */
        align-items: center;

        
    }
    .show-password{

        top: 25%;
        right: 10px;

    }
    .confirmpassword-container{
        /* background-color: red; */
        align-items: center;
    }
    .form-container .errors {
        bottom: 5rem;
    }
    .change-password-container{
        width: 90%;
    }
    .profile-container {
        width:  90%;
        padding: 0;
        padding-bottom: 2rem;
        
    }
    .profile-form-container{
        flex-direction: column;
        justify-content: space-around;
        height: max-content;
        align-items: center;
    }
    .profile-page-details-container{
        margin-top: 2rem;
    }
}