<div class="form-container login-container">
    <h2>Login</h2>
    <a href="/user/auth/google" class="btn btn-google">Login with Google</a>
    <p class="or-element">or</p>
    <form class='user-form' action="/user/login" method="post">
        <div class="form-group">
            <label for="username">Username: </label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group" style="margin-bottom: -10px;">
            <label for="password">Password: </label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="forgot-password-container">
            <a href="/user/forgot-password" style="display: inline-block;font-size: 16px; text-align: right; width:100%; margin-top:-20px;">forgot password?</a>
        </div>
        <div  class="login-submit-container">

            <% if (error) { %>
                <p class="errors" id="login-error-message"> <%= error %> </p>
            <% } %>
            <button type="submit" class="btn btn-primary form-btn">Login</button>
        </div>
    </form>
    <div class="check-user">
        New user ? <a style="color:blue" href="/user/register">Sign up</a>
    </div>
</div>

<script>
        // Check if error message exists
    var errorMessage = document.getElementById('login-error-message');
    if (errorMessage) {
        var position = errorMessage.getBoundingClientRect().top + window.scrollY;
        errorMessage.style.visibility = 'block';
        window.scrollTo({
            top: position,
            behavior: 'smooth'
        });
        setTimeout(function() {
            errorMessage.style.display = 'none';
        }, 4000);
    }
</script>