<div class="form-container login-container">
    <h2>Login</h2>
    <% if (error) { %>
        <p class="message error" id="login-error-message" style="color: red;"> <%= error %> </p>
    <% } %>
    <form class='user-form' action="/user/login" method="post">
        <div class="form-group">
            <label for="username">Username: </label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        
        <button type="submit" class="btn btn-primary form-btn">Login</button>
    </form>
    <div class="check-user">
        New user ? <a style="color:blue" href="/user/register">Sign up</a>
    </div>

    <script>
        // Check if error message exists
        var errorMessage = document.getElementById('login-error-message');
        if (errorMessage) {
            // remove error after 4 sec
            setTimeout(function() {
                errorMessage.style.display = 'none';
            }, 3000);
        }
    </script>
</div>