<div class="form-container password-reset-container">
    <h3>RESET PASSWORD</h3>
    <form action="/user/change-password" method="POST" id="reset-email-form">
        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="hidden" name="resetCode" value="<%= resetCode %>">
        <div>
            <div class="password-inner-container">

                <label for="newPassword">New Password: </label>
                <input style="padding:.5rem" type="password" name="newPassword" id="newPassword">
                <p style="margin-right:1.8rem;" class="show-password" data-show="false">show</p>
                <input type="hidden" value="<%= resetCode %>">
            </div>
            <div id="password-strength-feedback" style="font-size: 15px;">
                <ul style="list-style:none;">
                    <li id="length">Minimum 8 characters</li>
                    <li id="capital">At least one capital letter</li>
                    <li id="special">At least one special character</li>
                </ul>
            </div>
        </div>
        <div class="password-inner-container">
            <label for="confirmpassword">Confirm Password: </label>
            <input style="padding:.5rem" type="password" name="confirmpassword" id="confirmpassword">
            <p style="margin-right:1.8rem;" class="show-password" data-show="false">show</p>
            
        </div>
        <p id="password-match-error-new" style="color:red"></p>
        <button class="btn btn-primary" type="submit" id="reset-password-btn">Change Password</button>
    </form>
    
</div>

<script>
    const passwordMatchError = document.getElementById('password-match-error-new');
    const passwordInput = document.getElementById('newPassword');
    const confirmPasswordInput = document.getElementById('confirmpassword');
    const registerButton = document.getElementById('reset-password-btn');
    const passwordStrengthFeedback = document.getElementById('password-strength-feedback');
    registerButton.style.backgroundColor = "grey";
    passwordInput.addEventListener('input', function() {
        const password = passwordInput.value;
        const lengthRegex = /.{8,}/;
        const capitalRegex = /[A-Z]/;
        const specialCharRegex = /[!@#$%^&*(),.?":{}|<>]/;

        const isLengthValid = lengthRegex.test(password);
        const isCapitalValid = capitalRegex.test(password);
        const isSpecialCharValid = specialCharRegex.test(password);

        document.getElementById('length').style.color = isLengthValid ? 'green' : 'red';
        document.getElementById('capital').style.color = isCapitalValid ? 'green' : 'red';
        document.getElementById('special').style.color = isSpecialCharValid ? 'green' : 'red';

    });
    function checkInputs() {
    
        const passwordValue = passwordInput.value.trim();
        const confirmPasswordValue = confirmPasswordInput.value.trim();
        const isPasswordValid = passwordValue !== '';
        const isConfirmPasswordValid = confirmPasswordValue !== '';
        const isPasswordMatch = passwordValue === confirmPasswordValue;
        
    

        if (isPasswordValid && isConfirmPasswordValid && isPasswordMatch) {
            registerButton.disabled = false;
            registerButton.style.backgroundColor = "green";
        } else {
            registerButton.disabled = true;
            registerButton.style.backgroundColor = "grey";
        }
    }
    confirmPasswordInput.addEventListener('input', () => {
        const isPasswordMatch = passwordInput.value === confirmPasswordInput.value;
        if (isPasswordMatch) {
            passwordMatchError.textContent = ''; 
        } else {
            passwordMatchError.textContent = 'Passwords do not match';
        }
    })

    passwordInput.addEventListener('input', checkInputs);
    confirmPasswordInput.addEventListener('input', checkInputs);
    const showPasswordButtons = document.querySelectorAll('.show-password');

    showPasswordButtons.forEach(button => {
        
        
        button.addEventListener('click', () => {
            const changeField = button.previousElementSibling;
            console.log("chnage field: ",changeField)
            const isShow = button.getAttribute('data-show') === 'false';
            
            if (isShow) {
                
                changeField.type = 'text';
                button.textContent = 'Hide';
                button.setAttribute('data-show', 'true');
            } else {
                
                changeField.type = 'password';
                button.textContent = 'Show';
                button.setAttribute('data-show', 'false');
            }
        });
    })
</script>