
    <section class=" hero">
        <div class="hero-content">
            <h1>Guide Dogs for Blind People</h1>
            <p>Empowering Independence Through Companionship</p>
            <a href="/donate" class="btn btn-primary hero-donate-btn">Donate</a>
        </div>
    </section>

    <section class="get-involved-container">
        <h1 class="get-involved-header">Get Involved</h1>
        <h2 class="get-involved-second">you can help Service Dogs in many ways</h2>
        <div class="help-ways-container">
            <div class="help-way">
                
                <i class="fa-solid fa-hand-holding-dollar"></i>
                
                <h4 class="help-way-heading">Donate</h4>
                <p class="help-way-content">Make a difference in the lives of the many Canadians in need of a guide or assistance dog.</p>
                <a href="/donate" class="btn btn-primary">Donate</a>
            </div>
            <div class="help-way">
               
                <i class="fa-solid fa-handshake-angle"></i>
                <h4 class="help-way-heading">Volunteer</h4>
                <p class="help-way-content">Make a difference in the lives of the many Canadians in need of a guide or assistance dog.</p>
                <a href="/volunteer/volunteering" class="btn btn-primary">Volunteer</a>
            </div>
            <div class="help-way">
                <i class="fa-brands fa-wpforms"></i>
                <h4 class="help-way-heading">Apply</h4>
                <p class="help-way-content">Make a difference in the lives of the many Canadians in need of a guide or assistance dog.</p>
                <a href="/our-dogs/apply-for-dog" class="btn btn-primary">Apply</a>
            </div>
        </div>

    </section>
    <section class="our-dogs-container">
        <div class="our-dogs-content-container">
            <h2 class="our-dogs-heading">Our Dogs</h2>
            <h3 class="our-dogs-second-heading">Learning About Guide Dogs</h3>
            <p class="our-dogs-content">
                Is there a way of knowing if a guide dog is working? Can I ever pet a guide dog? Do guide dogs watch for stop lights to turn green? Click the link below and learn what everyone should know about guide dogs for the blind.
            </p>
            <a href="/our-dogs/acquire-a-guide-dog" class="btn btn-primary">Learn More</a>
        </div>
        <div class="our-dogs-image">
            <img src="https://servicedogs.s3.us-east-2.amazonaws.com/base/group-dogs.png" alt="">
        </div>

    </section>

    <section class="our-organization-container">
        <div class="our-organization-image">
            <img src="https://servicedogs.s3.us-east-2.amazonaws.com/base/index-image-2.png" alt="">
        </div>

        <div class="our-organization-content-container">
            <h2 class="our-organization-heading">About Us</h2>
            <h3 class="our-organization-heading">Learn About our Organization</h3>
            <p class="our-organization-content">
                Service Dogs is a national, charitable organization founded in 1984 to provide Canadians with greater mobility and independence through the use of professionally trained guide dogs (Nationally) and mobility assistance dogs (Ottawa area). Click the link below to learn more about our organization
            </p>
            <a href="/about-us/our-organization" class="btn btn-primary">Learn More</a>
        </div>
    </section>
    <section id="slideshow-container" class="slideshow-container">
        <h2 class="our-dogs-heading">what people say about us</h2>
        <div class="slideshow-inner-container">
            
            <div class="mySlides fade">
                <div class="review">
                    <p>Excellent service! The support dog has truly changed my life. Highly recommended.</p>
                    <div class="rating"><span>Rating:</span> 5/5</div>
                    <div class="name">- john</div>
                    <img src="https://servicedogs.s3.us-east-2.amazonaws.com/base/apply-service-dog.jpg" alt="John Doe">
            </div>
            <!-- <div class="dog-review-photo">
                <img src="../images/apply-service-dog.jpg" alt="John Doe">
            </div> -->
        </div>
        <div class="mySlides fade">
            <div class="review">
                <p>Life-changing experience! The support dog I received exceeded all expectations. This furry companion has brought immeasurable joy and comfort into my life. Highly recommend this service to anyone seeking a genuine and transformative connection with a support animal.</p>
                <div class="rating"><span>Rating:</span> 5/5</div>
                <div class="name">- srikanth</div>
                <img src="https://servicedogs.s3.us-east-2.amazonaws.com/base/index-image-2.png" alt="John Doe">
            </div>
            <!-- <div class="dog-review-photo">
                <img src="../images/apply-service-dog.jpg" alt="John Doe">
            </div> -->
        </div>
        <div class="mySlides fade">
            <div class="review">
            <p>I can't express enough how grateful I am for the support dog I received. The impact on my daily life has been phenomenal. The companionship and emotional support provided by this wonderful animal have made a world of difference. I wholeheartedly recommend this service to anyone in need of a positive and transformative change.</p>
            <div class="rating"><span>Rating:</span> 5/5</div>
            <div class="name">- arjun</div>
            <img src="https://servicedogs.s3.us-east-2.amazonaws.com/base/index-image-2.png" alt="John Doe">
            </div>
            <!-- <div class="dog-review-photo">
                <img src="../images/apply-service-dog.jpg" alt="John Doe">
            </div> -->
        </div>
        <div class="mySlides fade">
            <div class="review">
            <p>I can't express enough how grateful I am for the support dog I received. The impact on my daily life has been phenomenal. The companionship and emotional support provided by this wonderful animal have made a world of difference. I wholeheartedly recommend this service to anyone in need of a positive and transformative change.</p>
            <div class="rating"><span>Rating:</span> 4.5/5</div>
            <div class="name">- Jeremy</div>
            <img src="https://servicedogs.s3.us-east-2.amazonaws.com/base/index-image-2.png" alt="John Doe">
            </div>
            <!-- <div class="dog-review-photo">
                <img src="../images/apply-service-dog.jpg" alt="John Doe">
            </div> -->
        </div>
        <div class="mySlides fade">
            <div class="review">
            <p>I can't express enough how grateful I am for the support dog I received. The impact on my daily life has been phenomenal. The companionship and emotional support provided by this wonderful animal have made a world of difference. I wholeheartedly recommend this service to anyone in need of a positive and transformative change.</p>
            <div class="rating"><span>Rating:</span> 5/5</div>
            <div class="name">- Aaron</div>
            <img src="https://servicedogs.s3.us-east-2.amazonaws.com/base/index-image-2.png" alt="John Doe">
            </div>
            <!-- <div class="dog-review-photo">
                <img src="../images/apply-service-dog.jpg" alt="John Doe">
            </div> -->
        </div>
        <div class="mySlides fade">
            <div class="review">
                <p>Exceptional service! My support dog has become an indispensable part of my life. The positive effects on my mental well-being are truly remarkable. The professionalism and dedication of the service providers were outstanding. I highly recommend this service to those seeking a life-enhancing experience with a support animal.</p>
                <div class="rating"><span>Rating:</span> 5/5</div>
                <div class="name">- emily</div>
                <img src="https://servicedogs.s3.us-east-2.amazonaws.com/base/index-image-2.png" alt="John Doe">
            </div>
            <!-- <div class="dog-review-photo">
                <img src="../images/apply-service-dog.jpg" alt="John Doe">
            </div> -->
        </div>
        
    </div>
        
    </section>


        