<div class="careers-container">
    <h1 class="content-header">Careers</h1>

    <% allJobDetails.forEach((jobDetail) => { %>
        <table>
            <tr>
                <th>Role</th>
                <td><%= jobDetail.role %></td>
            </tr>
            
            <tr>
                <th>Job Description</th>
                <td><%= jobDetail.jobDescription %></td>
            </tr>
            <tr>
                <th>Location</th>
                <td><%= jobDetail.location %></td>
            </tr>
            <tr>
                <th>Contact</th>
                <td><%= jobDetail.contact %></td>
            </tr>
        </table>
        <% }); %>
    
</div>