<section class="faq-container">
    <div class="faq-header-container header-container">
        <h1 class="faq-content-header content-header">Frequently Asked Questions About
            Service Dogs for the Blind
        </h1>
    </div>
    <div class="faq-section-1 faq-section">

        <div class="faq-section-1-image faq-image">
            <img src="../images/Beagle-Dog-Transparent.png" alt="">
        </div>
        <div class="faq-section-1-content faq-content">
            <div class="faq">
                <h4 class="question">What breeds are used by Service Guide Dogs for the Blind?</h4>
                <p class="answer">Canadian Guide Dogs for the Blind trains Labrador retrievers, golden retrievers, as well crosses between these two breeds</p>

            </div>
            <div class="faq">
                <h4 class="question">What makes a good guide dog?</h4>
                <ul class="answer answer-list-container">
                    <li class="answer-list"> A high level of willingness to work</li>
                    <li class="answer-list">A strong desire to please the user</li>
                    <li class="answer-list">A quiet and calm disposition</li>
                    <li class="answer-list"> A high level of initiative</li>
                    <li class="answer-list"> A low level of distraction from its work</li>
                    <li class="answer-list">A high level of concentration while working</li>
                </ul>

            </div>
            <div class="faq">
                <h4 class="question">At what age do the dogs begin their training?</h4>
                <p class="answer">Most dogs begin their formal training between fourteen and twenty months of age.</p>

            </div>
            <div class="faq">
                <h4 class="question">How long does it take to train a guide dog?</h4>
                <p class="answer">It varies from dog to dog, approximately five to eight months.</p>

            </div>
            <div class="faq">
                <h4 class="question">How long does a person who is blind train with their dog?</h4>
                <p class="answer">A residential training class for the person and dog lasts eighteen days and takes place at the National Training Centre of Canadian Guide Dogs for the Blind</p>

            </div>
        </div>
        
    </div>
    <div class="faq-section-2 faq-section">

        <div class="faq-section-2-content faq-content">

            <div class="faq">
                <h4 class="question">How long does a person who is blind train with their dog?</h4>
                <p class="answer">A residential training class for the person and dog lasts eighteen days and takes place at the National Training Centre of Canadian Guide Dogs for the Blind</p>
                
            </div>
            <div class="faq">
                <h4 class="question">At what age does a guide dog retire?</h4>
                <p class="answer">Canadian Guide Dogs for the Blind retires guide dogs at a maximum age of eleven. Dogs may retire earlier if they develop health issues or slow down or exhibit guiding behaviour that may become a safety issue for the handler.</p>
                
            </div>
        <div class="faq">
            <h4 class="question">What happens to the guide dog when it is retired?</h4>
            <p class="answer">Canadian Guide Dogs for the Blind works with each client on an individual basis to determine where the dog will reside upon retirement. We find a loving home for all our dogs in their senior years.</p>
            
        </div>
        <div class="faq">
            <h4 class="question">Do guide dogs watch the traffic lights?</h4>
            <p class="answer">No. The decision and responsibility to cross a road lies solely with the guide dog user. The guide dog user is taught how, when and where to cross safely.</p>
            
        </div>

    </div>
    <div class="faq-section-2-image faq-image">
        <img src="../images/pexels-blue-bird-7210748(1).jpg" alt="">
    </div>
        
    </div>
    <div class="ask-a-question-container">
        <h3 class="ask-question-header">Not found what you are looking for?. Ask a question</h3>
        <div class="question-form-main-container">

            <form class="question-form" id="question-from-container">
                <div class="question-container">
                    
                    <label class='question-field-title' for="question">Question : </label>
                    <input type="text" name="question" class='input-form ask-question' placeholder="Type your question here.." required>
                </div>
                <div class="question-container">

                    <label class='question-field-title' for="email">Email : </label>
                    <input class="input-form" type="email" class="ask-question-email" name="email" required>
                
                </div>
                <button type="submit" class="btn btn btn-primary submit-btn">submit</button>
            </form>
        </div>
        <div id="faq-successMessage" class="hidden">Question submitted successfully!</div>
    </div>

</section>

<script>

    questionFormContainer = document.querySelector(".question-form-main-container")
    questionForm = document.querySelector('#question-from-container')
    questionForm.addEventListener('submit', async function(event) {
        event.preventDefault();
        const question = document.querySelector('input[name="question"]').value;
        const email = document.querySelector('input[name="email"]').value;
        const successMessage = document.getElementById('faq-successMessage');


        const formData = {
            question,
            email
        };
        console.log(formData)
        try{
            const response = await fetch('/about-us/faq/ask-question', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
            if (response.ok) {
                // If form submission is successful (status code 200), hide the form and display success message
                questionFormContainer.classList.add('hidden');
                successMessage.classList.remove('hidden');
            } else {
                successMessage.textContent= "Question Submission Failed. Please try after sometime"
                questionFormContainer.classList.add('hidden');
                successMessage.classList.remove('hidden');
            }
    } catch (error) {
        console.error('Error submitting form:', error);
        questionFormContainer.classList.add('hidden');
        successMessage.textContent= "Error occurred. Please try after sometime"
        successMessage.classList.remove('hidden');
        // Handle other errors (e.g., network issues)
    }
    });
</script>