<div class="newsletter-container">
    <h1 class="content-header">Newsletter</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto earum quasi illo dolores fugit nihil inventore, distinctio necessitatibus ratione ipsum hic perspiciatis, pariatur natus totam, itaque consequuntur. Illum impedit tenetur odit corrupti? Iure possimus deserunt nam, autem totam quas quis!</p>
    <div class="newsletter-inner-container">
        <div class="letter-container">
            <img src="../images/pexels-blue-bird-7210748(1).jpg" alt="">
            <h4 class="letter-heading">Fall Winter 2023</h4>
            <a href="" class="btn btn-primary btn-secondary">View</a>
        </div>
        <div class="letter-container">
            <img src="../images/pexels-blue-bird-7210748(1).jpg" alt="">
            <h4 class="letter-heading">Fall Winter 2023</h4>
            <a href="" class="btn btn-primary btn-secondary">View</a>
        </div>
        <div class="letter-container">
            <img src="../images/pexels-blue-bird-7210748(1).jpg" alt="">
            <h4 class="letter-heading">Fall Winter 2023</h4>
            <a href="" class="btn btn-primary btn-secondary">View</a>
        </div>
    </div>
    <a href="" class="btn btn-primary btn-secondary">view all</a>
</div>