<div class="newsletter-container">
    <h1>Newsletter</h1>
    <div class="newsletter-inner-container">
        <div class="letter-container">
            <img src="../images/pexels-blue-bird-7210748(1).jpg" alt="">
            <h4 class="letter-heading">Fall Winter 2023</h4>
            <a href="" class="btn btn-primary">View</a>
        </div>
        <div class="letter-container">
            <img src="../images/pexels-blue-bird-7210748(1).jpg" alt="">
            <h4 class="letter-heading">Fall Winter 2023</h4>
            <a href="" class="btn btn-primary">View</a>
        </div>
        <div class="letter-container">
            <img src="../images/pexels-blue-bird-7210748(1).jpg" alt="">
            <h4 class="letter-heading">Fall Winter 2023</h4>
            <a href="" class="btn btn-primary">View</a>
        </div>
    </div>
    <a href="" class="btn btn-primary">view all</a>
</div>