
<section class="organization-container">
    <div class="who-we-are">
        
        <div class="container-one">
            <h1 class="content-header">Who we are</h1>
            <p>"We are a dedicated and passionate organization committed to making a positive impact on the lives of individuals with visual impairments. Our mission revolves around providing guide dogs to those in need, empowering them to navigate the world with confidence and independence. With a focus on training, care, and ongoing support, we strive to create meaningful connections between our guide dogs and their human partners. Our commitment extends beyond the provision of guide dogs; we actively engage in education and outreach initiatives to raise awareness about the transformative power of these partnerships. At our core, we believe in fostering a more inclusive and compassionate world, and we invite you to join us in this journey of making a difference, one paw at a time."
            </p>
        </div>
        <div class="organization-image-container">
            <img class='organization-image' src="../images/hero-new-11.jpg" alt="">
        </div>

    </div>
    <div class="timeline">
        

        <h1 class="timeline-heading">Our Journey</h1>
        
        <div class="milestone">
            <div class="year">1984</div>
            <div class="description">Canadian Guide Dogs for the Blind established in January. First guide dog team graduated in July.</div>
        </div>
        <div class="milestone">
            <div class="year">1984</div>
            <div class="description">Canadian Guide Dogs for the Blind established in January. First guide dog team graduated in July.</div>
        </div>
        <div class="milestone">
            <div class="year">1984</div>
            <div class="description">Canadian Guide Dogs for the Blind established in January. First guide dog team graduated in July.</div>
        </div>
        <div class="milestone">
            <div class="year">1984</div>
            <div class="description">Canadian Guide Dogs for the Blind established in January. First guide dog team graduated in July.</div>
        </div>
        <div class="milestone">
            <div class="year">1984</div>
            <div class="description">Canadian Guide Dogs for the Blind established in January. First guide dog team graduated in July.</div>
        </div>
        <div class="milestone">
            <div class="year">1984</div>
            <div class="description">Canadian Guide Dogs for the Blind established in January. First guide dog team graduated in July.</div>
        </div>
        <div class="milestone">
            <div class="year">1984</div>
            <div class="description">Canadian Guide Dogs for the Blind established in January. First guide dog team graduated in July.</div>
        </div>
        <div class="milestone">
            <div class="year">1984</div>
            <div class="description">Canadian Guide Dogs for the Blind established in January. First guide dog team graduated in July.</div>
        </div>
        
    </div>
</section>
