
<section class="organization-container">
    <div class="who-we-are">
        
        <div class="container-one">
            <h1 class="content-header">Who we are</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita nobis, sequi consequuntur molestias non autem quasi voluptate vitae cumque rem doloremque ut at fugit voluptatum maxime quos laborum quidem nisi. Sunt nulla saepe autem voluptatum quod doloremque illum culpa deserunt molestias amet atque, odio quas minima impedit? Harum, odit accusamus? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam eveniet veniam accusamus excepturi distinctio corrupti. Omnis itaque quia voluptatem ratione, beatae assumenda dolores! Dicta pariatur consectetur totam vel blanditiis, quaerat dolorum voluptate fugit! Ratione, cumque, magni aperiam unde non exercitationem repellat maxime veritatis laborum minus pariatur doloremque porro quae adipisci?
            </p>
        </div>
        <div class="organization-image-container">
            <img class='organization-image' src="../images/hero-new-11.jpg" alt="">
        </div>

    </div>
    <div class="timeline">
        

        <h1 class="timeline-heading">Our Journey</h1>
        
        <div class="milestone">
            <div class="year">1984</div>
            <div class="description">Canadian Guide Dogs for the Blind established in January. First guide dog team graduated in July.</div>
        </div>
        <div class="milestone">
            <div class="year">1984</div>
            <div class="description">Canadian Guide Dogs for the Blind established in January. First guide dog team graduated in July.</div>
        </div>
        <div class="milestone">
            <div class="year">1984</div>
            <div class="description">Canadian Guide Dogs for the Blind established in January. First guide dog team graduated in July.</div>
        </div>
        <div class="milestone">
            <div class="year">1984</div>
            <div class="description">Canadian Guide Dogs for the Blind established in January. First guide dog team graduated in July.</div>
        </div>
        <div class="milestone">
            <div class="year">1984</div>
            <div class="description">Canadian Guide Dogs for the Blind established in January. First guide dog team graduated in July.</div>
        </div>
        <div class="milestone">
            <div class="year">1984</div>
            <div class="description">Canadian Guide Dogs for the Blind established in January. First guide dog team graduated in July.</div>
        </div>
        <div class="milestone">
            <div class="year">1984</div>
            <div class="description">Canadian Guide Dogs for the Blind established in January. First guide dog team graduated in July.</div>
        </div>
        <div class="milestone">
            <div class="year">1984</div>
            <div class="description">Canadian Guide Dogs for the Blind established in January. First guide dog team graduated in July.</div>
        </div>
        
    </div>
</section>
