<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User-login</title>
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/userLoginRegister.css">
    <link rel="stylesheet" href="../css/organization.css">

    <link rel="stylesheet" href="../css/faq.css">
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" href="../css/careers.css">
    <link rel="stylesheet" href="../css/dogs-list.css">
    <link rel="stylesheet" href="../css/acquire-dog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>

<body>
    <div class="header">
        
        <div class="navbar">
            <div class="logo-header">
                <a class="navbar-brand" href="index.html">
                    <img id="logoImage" src="../images/logo-primary.png" alt="Logo" class="logo">
                </a>
                <div class="menu-icon" id="menuIcon">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
            <div class="menu" id="navbarNav">
                <div class="user-login">
                    <ul>
                        <li class=""><a href="login.html">Login</a></li>
                        <li class=""><a href="register.html">Sign Up</a></li>
                    </ul>
                </div>
                <ul class="navbar-nav ml-auto nav-item-container">
                    <li class="nav-item">
                        
                        <a class="nav-link" href="#">Our Dogs</a>
                        <ul class="submenu">
                            <li><a href="dogs-gallery.html">Photo Gallery</a></li>
                            <li><a href="dogs-list.html">Dogs List</a></li>
                            <li><a href="acquiring-a-dog.html">Acquiring a dog</a></li>
                            <li><a href="">Guide Dog Journey</a></li>
                            
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Volunteer</a>
                        <ul class="submenu">
                            <li><a href="volunteer.html">Volunteering</a></li>

                            
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                        <ul class="submenu">
                            <li><a href="organization.html">Our Organization</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="newsletter.html">Newsletter</a></li>
                            <li><a href="careers.html">Careers</a></li>
                        </ul>
                    </li>
                 
                    <li class="nav-item">
                        <a class="nav-link" href="#">Feed</a>
                    </li>
             
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
              
                    <li class="nav-item donate">
                        
                        <a class="nav-link" href="#">Donate</a>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>

    <section class="content-container acquiring-main-container">
        <h1 class="content-header">Acquiring a Guide Dog</h1>
        <div class="information-container">
            <div class="information-content">
                <h1>Need a Guide Dog? </h1>
                <p>Do you or someone you know need a guide dog? Follow the link to read Realities of Guide Dog Mobility, which details many important factors to consider before applying for a guide dog.</p>
                <a href="reality-guide-dog.html" class="btn btn-primary">Realities of Guide Dog Mobility</a>
            </div>
            <div class="information-image">
                <img src="../images/hero-new-1.jpg" alt="">
            </div>
        </div>
        <div class="eligibility-container">
            <h1>Eligiblity</h1>
            <p>You are eligible to apply to Canadian Guide Dogs for the Blind if you are registered as legally blind; a permanent resident of Canada; and at least sixteen years old.</p>
            <p>You need a strong desire to improve upon your independence and mobility. Most people are surprised by the mental and emotional strain induced by the training process. A solid partnership can take up to a year to form, so a determined, positive attitude is necessary in order to succeed. You must be ready to put in the work to succeed.</p>
            <p>You need a stable and supportive home environment. Consider the viewpoint of the young dog that is trying to adapt to a new home and neighbourhood. With a stable home, the dog is able to build confidence through familiar daily routines.

            You need to already be independently mobile and capable of walking a minimum of two routes, totally alone. These routes do not necessarily have to be long or complicated, but they must be familiar and well navigated, as you will need to teach your dog these routes. Orientation and mobility training is a definite advantage and requirement, including problem solving skills.</p>
        </div>
        <div class="financial-container">
            <div class="financial-image">

                <img src="../images/hero-new-11.jpg" alt="">
            </div>
            <div class="financial-content">
                <h1>Financial Cost</h1>
                <p>Canadian Guide Dogs for the Blind operates solely through donations and fundraising activities. Our services are provided free of charge. Clients pay $1.00 upon graduating with a guide dog that is for leasing the dog during its working life.  Canadian Guide Dogs for the Blind pays for all expenses associated with training, including transportation to and from the National Training Centre of Canadian Guide Dogs for the Blind, room and board for three weeks, the training course, and the dog, including all necessary equipment. </p>
                <p>Clients are responsible for all expenses for the dog after graduating, including food and veterinary expenses. Applicants must be able to financially care for a dog. Clients may apply to Canadian Guide Dogs for the Blind’s Veterinary Cost Assistance Fund that covers routine visits to the veterinarian. Additional funding may be available from other sources, but this is the responsibility of the guide dog handler to investigate and apply. The Medical Expense Tax Credit, offered by Canada Revenue Agency, provides tax relief in respect of certain expenses related to using a guide dog.</p>
            </div>

        </div>
        <div class="instructions-container">
            <h1>Instructions for Applicants</h1>
            <p>Complete our initial basic application form. Once the initial form is returned to us, it will be reviewed and we will send you a full detailed application package.
            Should you need to contact Canadian Guide Dogs for the Blind for additional information during the application process, you may do so by phoning our Client Services Department at (613) 692-7777. Please consider all of the information we have provided. We hope it helps you in making a decision whether a guide dog is right for you. If it is, we look forward to receiving your application and, hopefully, welcoming you to Canadian Guide Dogs for the Blind.</p>
            <a href="application-training.html" class="btn btn-primary">Application for Training</a>
        </div>
    </section>
    <section class="donate-section">
        <h1 class="donate-section-heading">Donate Today</h1>
        <p>Through your donation, you are making a direct impact on the lives of the many Canadians in need of a guide dog or assistance dog.</p>
        <p>Thank You!</p>
        <a href="" class="btn btn-primary">Donate</a>
    </section>
    <footer class="footer">
        <div class="footer-container">
        <div class="company-info">
            <p>Canadian Guide Dogs for the Blind (CGDB) is a national, charitable organization founded in 1984 to provide Canadians with greater mobility and independence through the use of professionally trained guide dogs (nationally) and mobility assistance dogs (Ottawa area).
                Registered Charity #10684 6819 RR0001</p>
        </div>
        <div class="social-container">
            <h1>Contact</h1>
            <div class="contact-details social-icons">
                <a href="tel:+1519000000" class="social-icon"><i class="fas fa-phone"></i><span class="contact-info">&nbsp;&nbsp; +15190000000</span></a><br>
                <a href="mailto:info@servicedogs.ca" class="social-icon"><i class="far fa-envelope"></i><span class="contact-info">&nbsp;&nbsp; info@servicedogs.ca</span></a>
            </div>
            <div class="social-icons">
                <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
                <!-- <a href="mailto:example@example.com" class="social-icon"><i class="far fa-envelope"></i></a>
                <a href="tel:+1234567890" class="social-icon"><i class="fas fa-phone"></i></a> -->
            </div>
            
        </div>
        <div class="office-hours">
            <h1>Office hours</h1>
            <ul>
                <li><span>Monday – Friday: </span>8:30am - 5:00pm</li>
                <li><span>Weekends: </span>Closed</li>
                <li><span>Holidays: </span>Closed</li>
            </ul>
        </div>
        </div>
        <p>&copy; 2023 Your Company. All rights reserved.</p>
    </footer>
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../scripts/jquery1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../scripts/main.js"></script>
</body>

</html>
