<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User-login</title>
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/userLoginRegister.css">
    <link rel="stylesheet" href="../css/organization.css">

    <link rel="stylesheet" href="../css/faq.css">
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" href="../css/careers.css">
    <link rel="stylesheet" href="../css/dogs-list.css">
    <link rel="stylesheet" href="../css/acquire-dog.css">
    <link rel="stylesheet" href="../css/apply-dog.css">
    <!-- <link rel="stylesheet" href="../css/guide-dog-journey.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>

<body>
    <div class="header">
        
        <div class="navbar">
            <div class="logo-header">
                <a class="navbar-brand" href="index.html">
                    <img id="logoImage" src="../images/logo-primary.png" alt="Logo" class="logo">
                </a>
                <div class="menu-icon" id="menuIcon">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
            <div class="menu" id="navbarNav">
                <div class="user-login">
                    <ul>
                        <li class=""><a href="login.html">Login</a></li>
                        <li class=""><a href="register.html">Sign Up</a></li>
                    </ul>
                </div>
                <ul class="navbar-nav ml-auto nav-item-container">
                    <li class="nav-item">
                        
                        <a class="nav-link" href="#">Our Dogs</a>
                        <ul class="submenu">
                            <li><a href="dogs-gallery.html">Photo Gallery</a></li>
                            <li><a href="dogs-list.html">Dogs List</a></li>
                            <li><a href="acquiring-a-dog.html">Acquiring a dog</a></li>
                            <li><a href="guide-dog-journey.html">Guide Dog Journey</a></li>
                            
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Volunteer</a>
                        <ul class="submenu">
                            <li><a href="volunteer.html">Volunteering</a></li>

                            
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                        <ul class="submenu">
                            <li><a href="organization.html">Our Organization</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="newsletter.html">Newsletter</a></li>
                            <li><a href="careers.html">Careers</a></li>
                        </ul>
                    </li>
                 
                    <li class="nav-item">
                        <a class="nav-link" href="feed.html">Feed</a>
                    </li>
             
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
              
                    <li class="nav-item donate">
                        
                        <a class="nav-link" href="donate.html">Donate</a>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>

    <section class="content-container journey-main-container assistance-dog-main-container">
        <h1 class="content-header">Assistance Dogs</h1>
        <div class="guide-dog-journey-inner assistance-dog-main-container">
            <div class="guide-dog-content assistance-dog-content">
                <div class="guide-dog-image assistance-dog-image">
                    <img src="../images/assitance-dog-2.png" alt="">
                </div>
                <div class="guide-dog-inner-content assistance-dog-inner-content">
                    <h3>What Can an Assistance Dog Do?</h3>

                    <p>Some of the tasks an assistance dog can be trained to do are: picking up items accidentally dropped (such as keys, coins, bank cards, wallet, pens, papers, etc.); retrieve specific items by name (phone, leash, shoes, etc.); retrieve out of reach items with the aid of a laser pointer; retrieve items from another person bring to the handler, and vice-versa; assist with pulling off socks, zippers & sleeves; opening & closing doors & drawers; turning lowered light switches on & off; triggering the automatic access button on doors; triggering a house alarm and barking for help if the handler needs assistance.</p>

                    <h3>May I Apply for an Assistance Dog from Canadian Guide Dogs for the Blind?</h3>
                    <p>Before you apply for an assistance dog from Canadian Guide Dogs for the Blind you must meet the following criteria:

                        Applicants must live in the National Capital Area or within a 200-km radius of Ottawa (within Canada).
                        You must be a Canadian citizen.
                        You must be medically diagnosed with a mobility-related disability.
                        You must in some way be able to benefit from the use of an assistance dog.</p>
                </div>
            </div>
            <div class="guide-dog-content assistance-dog-content">

                <div class="guide-dog-inner-content assistance-dog-inner-content">
                    <h3>Additional Considerations</h3>

                    <p>Teaming up with an assistance dog requires a great deal of responsibility and effort to keep up with existing training and general care and well-being of the dog (i.e. food, veterinary expenses, etc.). You must be willing and ready to schedule and enter into a period of 2-4 weeks of intensive training with a dog upon being matched with an assistance dog. Assistance dogs are not for everybody. They require a great deal of commitment. They are highly trained, intelligent canines but they are still dogs. Assistance dogs need time, effort and attention on a daily basis to maintain the work standard they were trained to do.</p>
                    <h3>I Would Like to Apply for a Mobility Assistance Dog</h3>
                    <p>If you’ve reviewed our criteria and feel that you qualify and would benefit from the use of a mobility assistance dog, please contact the National Training Centre of Canadian Guide Dogs for the Blind at (613) 692-7777 to begin the application process or to obtain additional information.</p>
                </div>
                <div class="guide-dog-image">
                    <img src="../images/assistance-dog-3.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="donate-section">
        <h1 class="donate-section-heading">Donate Today</h1>
        <p>Through your donation, you are making a direct impact on the lives of the many Canadians in need of a guide dog or assistance dog.</p>
        <p>Thank You!</p>
        <a href="" class="btn btn-primary hero-donate-btn">Donate</a>
    </section>
    <footer class="footer">
        <div class="footer-container">
        <div class="company-info">
            <h1>Service Dogs</h1>
            <p>Service Dogs for the Blind (CGDB) is a national, charitable organization founded in 1984 to provide Canadians with greater mobility and independence through the use of professionally trained guide dogs (nationally) and mobility assistance dogs (Ottawa area).
                Registered Charity #10684 6819 RR0001</p>
        </div>
        <div class="social-container">
            <h1>Contact</h1>
            <div class="contact-details social-icons">
                <a href="tel:+1519000000" class="social-icon"><i class="fas fa-phone"></i><span class="contact-info">&nbsp;&nbsp; +15190000000</span></a><br>
                <a href="mailto:info@servicedogs.ca" class="social-icon"><i class="far fa-envelope"></i><span class="contact-info">&nbsp;&nbsp; info@servicedogs.ca</span></a>
            </div>
            <div class="social-icons">
                <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
                <!-- <a href="mailto:example@example.com" class="social-icon"><i class="far fa-envelope"></i></a>
                <a href="tel:+1234567890" class="social-icon"><i class="fas fa-phone"></i></a> -->
            </div>
            
        </div>
        <div class="office-hours">
            <h1>Office hours</h1>
            <ul>
                <li><span>Monday – Friday: </span>8:30am - 5:00pm</li>
                <li><span>Weekends: </span>Closed</li>
                <li><span>Holidays: </span>Closed</li>
            </ul>
        </div>
        </div>
        <p>&copy; 2023 Service Dogs. All rights reserved.</p>
    </footer>
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../scripts/jquery1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../scripts/main.js"></script>
</body>

</html>
