<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User-login</title>
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/userLoginRegister.css">
    <link rel="stylesheet" href="../css/organization.css">

    <link rel="stylesheet" href="../css/faq.css">
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" href="../css/careers.css">
    <link rel="stylesheet" href="../css/dogs-list.css">
    <link rel="stylesheet" href="../css/acquire-dog.css">
    <!-- <link rel="stylesheet" href="../css/guide-dog-journey.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>

<body>
    <div class="header">
        
        <div class="navbar">
            <div class="logo-header">
                <a class="navbar-brand" href="index.html">
                    <img id="logoImage" src="../images/logo-primary.png" alt="Logo" class="logo">
                </a>
                <div class="menu-icon" id="menuIcon">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
            <div class="menu" id="navbarNav">
                <div class="user-login">
                    <ul>
                        <li class=""><a href="login.html">Login</a></li>
                        <li class=""><a href="register.html">Sign Up</a></li>
                    </ul>
                </div>
                <ul class="navbar-nav ml-auto nav-item-container">
                    <li class="nav-item">
                        
                        <a class="nav-link" href="#">Our Dogs</a>
                        <ul class="submenu">
                            <li><a href="dogs-gallery.html">Photo Gallery</a></li>
                            <li><a href="dogs-list.html">Dogs List</a></li>
                            <li><a href="acquiring-a-dog.html">Acquiring a dog</a></li>
                            <li><a href="guide-dog-journey.html">Guide Dog Journey</a></li>
                            
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Volunteer</a>
                        <ul class="submenu">
                            <li><a href="volunteer.html">Volunteering</a></li>

                            
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                        <ul class="submenu">
                            <li><a href="organization.html">Our Organization</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="newsletter.html">Newsletter</a></li>
                            <li><a href="careers.html">Careers</a></li>
                        </ul>
                    </li>
                 
                    <li class="nav-item">
                        <a class="nav-link" href="feed.html">Feed</a>
                    </li>
             
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
              
                    <li class="nav-item donate">
                        
                        <a class="nav-link" href="donate.html">Donate</a>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>

    <section class="content-container journey-main-container">
        <h1 class="content-header">Guide Dog Journey</h1>
        <div class="guide-dog-journey-inner">
            <div class="guide-dog-content">
                <div class="guide-dog-image">
                    <img src="../images/hero-new-1.jpg" alt="">
                </div>
                <div class="guide-dog-inner-content">
                    <p>A working guide dog provides mobility and independence to the visually-impaired user.</p>

                    <p>A guide dog is not a pet dog when it is working. Therefore, other people must not distract the guide dog. Guide dogs from Canadian Guide Dogs for the Blind wear white harnesses when working and, upon seeing this, others should first ask the user for permission before touching or distracting the guide dog. To distract a working guide dog in any way means the animal cannot concentrate fully on avoiding potentially dangerous situations.</p>

                    <p>Some of the qualities to make a good guide dog include having a quiet and calm disposition, a high level of initiative, a high level of concentration while working, as well as a high level of willingness to work and a strong desire to please the user.</p>
                    <p>At Canadian Guide Dogs for the Blind, puppies of approximately 8 weeks of age are placed with foster families called “puppy walkers” who raise the pups. The puppy walkers socialize the puppies, which are mainly golden retrievers and Labrador retrievers, to as many different, everyday environments as possible. The outdoor socialization begins in quiet residential areas and slowly works up to restaurants, shopping malls, public transit, elevators and so on.</p>
                </div>
            </div>
            <div class="guide-dog-content">

                <div class="guide-dog-inner-content">
                    <p>A working guide dog provides mobility and independence to the visually-impaired user.A guide dog is not a pet dog when it is working. Therefore, other people must not distract the guide dog. Guide dogs from Canadian Guide Dogs for the Blind wear white harnesses when working and, upon seeing this, others should first ask the user for permission before touching or distracting the guide dog. To distract a working guide dog in any way means the animal cannot concentrate fully on avoiding potentially dangerous situations.</p>

                    <p>Some of the qualities to make a good guide dog include having a quiet and calm disposition, a high level of initiative, a high level of concentration while working, as well as a high level of willingness to work and a strong desire to please the user.
                    At Canadian Guide Dogs for the Blind, puppies of approximately 8 weeks of age are placed with foster families called “puppy walkers” who raise the pups. The puppy walkers socialize the puppies, which are mainly golden retrievers and Labrador retrievers, to as many different, everyday environments as possible. The outdoor socialization begins in quiet residential areas and slowly works up to restaurants, shopping malls, public transit, elevators and so on.</p>
                    <p>Canadian Guide Dogs for the Blind provides the dog free of charge to our clients.  In addition, clients receive transportation to and from the National Training Centre of Canadian Guide Dogs for the Blind, room and board, an 18-day training course, and an in-depth aftercare program.  The client is responsible for expenses associated with the dog after graduation, but may apply to Canadian Guide Dogs for the Blind’s veterinary assistance fund for routine veterinary procedures.  Each client pays a symbolic fee of just $1.00 upon graduation.</p>
                </div>
                <div class="guide-dog-image">
                    <img src="../images/hero-new-1.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="donate-section">
        <h1 class="donate-section-heading">Donate Today</h1>
        <p>Through your donation, you are making a direct impact on the lives of the many Canadians in need of a guide dog or assistance dog.</p>
        <p>Thank You!</p>
        <a href="" class="btn btn-primary hero-donate-btn">Donate</a>
    </section>
    <footer class="footer">
        <div class="footer-container">
        <div class="company-info">
            <h1>Service Dogs</h1>
            <p>Service Dogs for the Blind (CGDB) is a national, charitable organization founded in 1984 to provide Canadians with greater mobility and independence through the use of professionally trained guide dogs (nationally) and mobility assistance dogs (Ottawa area).
                Registered Charity #10684 6819 RR0001</p>
        </div>
        <div class="social-container">
            <h1>Contact</h1>
            <div class="contact-details social-icons">
                <a href="tel:+1519000000" class="social-icon"><i class="fas fa-phone"></i><span class="contact-info">&nbsp;&nbsp; +15190000000</span></a><br>
                <a href="mailto:info@servicedogs.ca" class="social-icon"><i class="far fa-envelope"></i><span class="contact-info">&nbsp;&nbsp; info@servicedogs.ca</span></a>
            </div>
            <div class="social-icons">
                <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
                <!-- <a href="mailto:example@example.com" class="social-icon"><i class="far fa-envelope"></i></a>
                <a href="tel:+1234567890" class="social-icon"><i class="fas fa-phone"></i></a> -->
            </div>
            
        </div>
        <div class="office-hours">
            <h1>Office hours</h1>
            <ul>
                <li><span>Monday – Friday: </span>8:30am - 5:00pm</li>
                <li><span>Weekends: </span>Closed</li>
                <li><span>Holidays: </span>Closed</li>
            </ul>
        </div>
        </div>
        <p>&copy; 2023 Service Dogs. All rights reserved.</p>
    </footer>
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../scripts/jquery1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../scripts/main.js"></script>
</body>

</html>
