<div class="volunteering-main-container">
    <h1 class="content-header volunteer-heading">Become a Volunteer</h1>
    <div class="volunteer-inner-container">
        <div class=volunteer-content-container>
            <p class="volunteer-p-content">
                A volunteer is a person who believes that people can make a difference and is willing to prove it. Volunteers don’t work for money. They work for less tangible but equally important forms of remuneration such as satisfaction, appreciation and the opportunity to build skills, all while helping others. Canadian Guide Dogs for the Blind relies greatly on volunteers to add to the success of our organization. If you are interested in volunteering for Canadian Guide Dogs for the Blind, please complete our volunteer application and submit it by email, mail, or drop it off at our National Training Centre.
            </p>
            <h3 class="volunteer-second-heading">Important points</h3>
            <ul class="volunteer-points">
                <li class="volunteer-li">Our current volunteer opportunities are limited to what is shown on the volunteer application.</li>
                <li class="volunteer-li">When you submit a volunteer application, we will follow up with you when an opportunity arises in your area(s) of interest.</li>
                <li class="volunteer-li">Puppy Walking/Raising is the only hands-on opportunity with dogs. We do not offer other volunteer positions with dogs. Visit our Puppy Walking page for details on this opportunity.</li>
                <li class="volunteer-li">We do not use any volunteers in our kennels. Due to our high standards, we use professional staff only.</li>
                <li class="volunteer-li">ur student volunteer opportunities are limited, but we may occasionally require high school students looking to fulfill their community support hours. Students should complete the same application form, and we will contact them if an opportunity arises. It is suggested that students do not rely heavily on our organization for volunteer hours, and there will be nothing hands-on with dogs.</li>
                
            </ul>
            <a href="/volunteer/volunteer-application"><button id="volunteer-application-btn" class="btn btn-primary">Volunteer Application</button></a>
        </div>
        <div class="volunteer-img">
            <img src="https://servicedogs.s3.us-east-2.amazonaws.com/base/volunteer-image.png" alt="">
        </div>
    </div>

</div>