<div class="volunteering-main-container">
    <h1 class="content-header volunteer-heading">Become a Volunteer</h1>
    <div class="volunteer-inner-container">
        <div class=volunteer-content-container>
            <p class="volunteer-p-content">
                "Ready to make a real difference? We invite compassionate individuals to join our mission. As a volunteer, you can play a crucial role in empowering those with visual impairments. Whether you're passionate about hands-on training, community outreach, or administrative support, there's a meaningful role for you.

By volunteering, you become part of a supportive network dedicated to creating transformative connections between guide dogs and their human partners. Your time and skills can help build a more inclusive and compassionate world, one step at a time.

Be part of something extraordinary. Apply to volunteer today and help brighten the path for those facing the challenges of visual impairment."
            </p>
            <h3 class="volunteer-second-heading">Important points</h3>
            <ul class="volunteer-points">
                <li class="volunteer-li"><strong>Guide Dog Trainer Assistant:</strong> Assist in training and socializing guide dogs under experienced trainers.</li>
                <li class="volunteer-li"><strong>Community Outreach Coordinator:</strong> Organize and execute outreach programs to raise awareness and engage with local communities.</li>
                <li class="volunteer-li"><strong>Administrative Support Volunteer:</strong> Help with day-to-day administrative tasks, ensuring smooth operations.</li>
                <li class="volunteer-li"><strong>Fundraising Event Organizer:</strong> Plan and execute fundraising events, coordinating logistics and mobilizing volunteers.</li>
                <li class="volunteer-li"><strong>Social Media Ambassador:</strong> Manage the organization's social media presence, promoting events, stories, and awareness campaigns.</li>
            </ul>
                
            </ul>
            <a href="/volunteer/volunteer-application"><button id="volunteer-application-btn" class="btn btn-primary">Volunteer Application</button></a>
        </div>
        <div class="volunteer-img">
            <img src="https://servicedogs.s3.us-east-2.amazonaws.com/base/volunteer-image.png" alt="">
        </div>
    </div>

</div>