<div class="content-container acquiring-main-container">
    <h1 class="content-header">Acquiring a Guide Dog</h1>
    <div class="information-container">
        <div class="information-content">
            <h1>Need a Service Dog? </h1>
            <p>Do you or someone you know need a guide dog? </p>Complete our initial basic application form. Once the initial form is returned to us, it will be reviewed and we will send you a full detailed application package.
                Please consider all of the information we have provided. We hope it helps you in making a decision whether a guide dog is right for you. If it is, we look forward to receiving your application and, hopefully, welcoming you to Service Dogs for the Blind..</p>
            <a href="/our-dogs/training-application" class="btn btn-primary hero-donate-btn">Service Dog Application</a>
        </div>
        <div class="information-image">
            <img src="https://servicedogs.s3.us-east-2.amazonaws.com/base/hero-new-1.jpg" alt="">
        </div>
    </div>
    
</div>