<div class="content-container acquiring-main-container">
    <h1 class="content-header">Acquiring a Guide Dog</h1>
    <div class="information-container">
        <div class="information-content">
            <h1>Need a Guide Dog? </h1>
            <p>Do you or someone you know need a guide dog? Follow the link to read Realities of Guide Dog Mobility, which details many important factors to consider before applying for a guide dog.</p>
            <a href="/our-dogs/realities-of-a-guide-dog" class="btn btn-primary">Realities of Guide Dog Mobility</a>
        </div>
        <div class="information-image">
            <img src="../images/hero-new-1.jpg" alt="">
        </div>
    </div>
    <div class="eligibility-container">
        <h1>Eligiblity</h1>
        <p>You are eligible to apply to Canadian Guide Dogs for the Blind if you are registered as legally blind; a permanent resident of Canada; and at least sixteen years old.</p>
        <p>You need a strong desire to improve upon your independence and mobility. Most people are surprised by the mental and emotional strain induced by the training process. A solid partnership can take up to a year to form, so a determined, positive attitude is necessary in order to succeed. You must be ready to put in the work to succeed.</p>
        <p>You need a stable and supportive home environment. Consider the viewpoint of the young dog that is trying to adapt to a new home and neighbourhood. With a stable home, the dog is able to build confidence through familiar daily routines.

        You need to already be independently mobile and capable of walking a minimum of two routes, totally alone. These routes do not necessarily have to be long or complicated, but they must be familiar and well navigated, as you will need to teach your dog these routes. Orientation and mobility training is a definite advantage and requirement, including problem solving skills.</p>
    </div>
    <div class="financial-container">
        <div class="financial-image">

            <img src="../images/hero-new-11.jpg" alt="">
        </div>
        <div class="financial-content">
            <h1>Financial Cost</h1>
            <p>Canadian Guide Dogs for the Blind operates solely through donations and fundraising activities. Our services are provided free of charge. Clients pay $1.00 upon graduating with a guide dog that is for leasing the dog during its working life.  Canadian Guide Dogs for the Blind pays for all expenses associated with training, including transportation to and from the National Training Centre of Canadian Guide Dogs for the Blind, room and board for three weeks, the training course, and the dog, including all necessary equipment. </p>
            <p>Clients are responsible for all expenses for the dog after graduating, including food and veterinary expenses. Applicants must be able to financially care for a dog. Clients may apply to Canadian Guide Dogs for the Blind’s Veterinary Cost Assistance Fund that covers routine visits to the veterinarian. Additional funding may be available from other sources, but this is the responsibility of the guide dog handler to investigate and apply. The Medical Expense Tax Credit, offered by Canada Revenue Agency, provides tax relief in respect of certain expenses related to using a guide dog.</p>
        </div>

    </div>
    <div class="instructions-container">
        <h1>Instructions for Applicants</h1>
        <p>Complete our initial basic application form. Once the initial form is returned to us, it will be reviewed and we will send you a full detailed application package.
        Should you need to contact Canadian Guide Dogs for the Blind for additional information during the application process, you may do so by phoning our Client Services Department at (613) 692-7777. Please consider all of the information we have provided. We hope it helps you in making a decision whether a guide dog is right for you. If it is, we look forward to receiving your application and, hopefully, welcoming you to Canadian Guide Dogs for the Blind.</p>
        <a href="/our-dogs/training-application" class="btn btn-primary hero-donate-btn">Application for Training</a>
    </div>
</div>