<div class="apply-dog-main-container">
    <h1 class="content-header">Apply for a dog</h1>
    <div class="apply-dog-inner-container">
        <div class="dog-type-apply">
            <div>
                <h3>Assistance Dogs</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae dicta veritatis, repellendus eos earum ducimus corporis modi dolores vel optio quaerat qui expedita dolore nostrum voluptas est sint impedit. Consectetur!</p> 
                <a href="/our-dogs/assistance-dogs" class="btn btn-primary">More About Assistance Fogs</a> 
            </div>
            <img src="../images/assistance-dog-main.jpg" alt="">
        </div>
        <div class="dog-type-apply">
            <div>
                <h3>Guide Dogs</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae dicta veritatis, repellendus eos earum ducimus corporis modi dolores vel optio quaerat qui expedita dolore nostrum voluptas est sint impedit. Consectetur!</p> 
                <a href="/our-dogs/acquire-a-guide-dog" class="btn btn-primary">More About Guide Fogs</a> 
            </div>
            <img src="../images/apply-service-dog.jpg" alt="">
        </div>
    </div>
</div>