<div class="journey-main-container assistance-dog-main-container">
    <h1 class="content-header">Assistance Dogs</h1>
    <div class="guide-dog-journey-inner assistance-dog-main-container">
        <div class="guide-dog-content assistance-dog-content">
            <div class="guide-dog-image assistance-dog-image">
                <img src="https://servicedogs.s3.us-east-2.amazonaws.com/base/assitance-dog-2.png" alt="">
            </div>
            <div class="guide-dog-inner-content assistance-dog-inner-content">
                <h3>What Can an Assistance Dog Do?</h3>

                <p>Some of the tasks an assistance dog can be trained to do are: picking up items accidentally dropped (such as keys, coins, bank cards, wallet, pens, papers, etc.); retrieve specific items by name (phone, leash, shoes, etc.); retrieve out of reach items with the aid of a laser pointer; retrieve items from another person bring to the handler, and vice-versa; assist with pulling off socks, zippers & sleeves; opening & closing doors & drawers; turning lowered light switches on & off; triggering the automatic access button on doors; triggering a house alarm and barking for help if the handler needs assistance.</p>

                <h3>May I Apply for an Assistance Dog from Canadian Guide Dogs for the Blind?</h3>
                <p>Before you apply for an assistance dog from Canadian Guide Dogs for the Blind you must meet the following criteria:

                    Applicants must live in the National Capital Area or within a 200-km radius of Ottawa (within Canada).
                    You must be a Canadian citizen.
                    You must be medically diagnosed with a mobility-related disability.
                    You must in some way be able to benefit from the use of an assistance dog.</p>
            </div>
        </div>
        <div class="guide-dog-content assistance-dog-content">

            <div class="guide-dog-inner-content assistance-dog-inner-content">
                <h3>Additional Considerations</h3>

                <p>Teaming up with an assistance dog requires a great deal of responsibility and effort to keep up with existing training and general care and well-being of the dog (i.e. food, veterinary expenses, etc.). You must be willing and ready to schedule and enter into a period of 2-4 weeks of intensive training with a dog upon being matched with an assistance dog. Assistance dogs are not for everybody. They require a great deal of commitment. They are highly trained, intelligent canines but they are still dogs. Assistance dogs need time, effort and attention on a daily basis to maintain the work standard they were trained to do.</p>
                <h3>I Would Like to Apply for a Mobility Assistance Dog</h3>
                <p>If you’ve reviewed our criteria and feel that you qualify and would benefit from the use of a mobility assistance dog, please contact the National Training Centre of Canadian Guide Dogs for the Blind at (613) 692-7777 to begin the application process or to obtain additional information.</p>
            </div>
            <div class="guide-dog-image">
                <img src="https://servicedogs.s3.us-east-2.amazonaws.com/base/assistance-dog-3.jpg" alt="">
            </div>
        </div>
    </div>
</div>