<div class="journey-main-container">
    <h1 class="content-header">Guide Dog Journey</h1>
    <div class="guide-dog-journey-inner">
        <div class="guide-dog-content">
            <div class="guide-dog-image">
                <img src="../images/hero-new-1.jpg" alt="">
            </div>
            <div class="guide-dog-inner-content">
                <p>A working guide dog provides mobility and independence to the visually-impaired user.</p>

                <p>A guide dog is not a pet dog when it is working. Therefore, other people must not distract the guide dog. Guide dogs from Canadian Guide Dogs for the Blind wear white harnesses when working and, upon seeing this, others should first ask the user for permission before touching or distracting the guide dog. To distract a working guide dog in any way means the animal cannot concentrate fully on avoiding potentially dangerous situations.</p>

                <p>Some of the qualities to make a good guide dog include having a quiet and calm disposition, a high level of initiative, a high level of concentration while working, as well as a high level of willingness to work and a strong desire to please the user.</p>
                <p>At Canadian Guide Dogs for the Blind, puppies of approximately 8 weeks of age are placed with foster families called “puppy walkers” who raise the pups. The puppy walkers socialize the puppies, which are mainly golden retrievers and Labrador retrievers, to as many different, everyday environments as possible. The outdoor socialization begins in quiet residential areas and slowly works up to restaurants, shopping malls, public transit, elevators and so on.</p>
            </div>
        </div>
        <div class="guide-dog-content">

            <div class="guide-dog-inner-content">
                <p>A working guide dog provides mobility and independence to the visually-impaired user.A guide dog is not a pet dog when it is working. Therefore, other people must not distract the guide dog. Guide dogs from Canadian Guide Dogs for the Blind wear white harnesses when working and, upon seeing this, others should first ask the user for permission before touching or distracting the guide dog. To distract a working guide dog in any way means the animal cannot concentrate fully on avoiding potentially dangerous situations.</p>

                <p>Some of the qualities to make a good guide dog include having a quiet and calm disposition, a high level of initiative, a high level of concentration while working, as well as a high level of willingness to work and a strong desire to please the user.
                At Canadian Guide Dogs for the Blind, puppies of approximately 8 weeks of age are placed with foster families called “puppy walkers” who raise the pups. The puppy walkers socialize the puppies, which are mainly golden retrievers and Labrador retrievers, to as many different, everyday environments as possible. The outdoor socialization begins in quiet residential areas and slowly works up to restaurants, shopping malls, public transit, elevators and so on.</p>
                <p>Canadian Guide Dogs for the Blind provides the dog free of charge to our clients.  In addition, clients receive transportation to and from the National Training Centre of Canadian Guide Dogs for the Blind, room and board, an 18-day training course, and an in-depth aftercare program.  The client is responsible for expenses associated with the dog after graduation, but may apply to Canadian Guide Dogs for the Blind’s veterinary assistance fund for routine veterinary procedures.  Each client pays a symbolic fee of just $1.00 upon graduation.</p>
            </div>
            <div class="guide-dog-image">
                <img src="../images/hero-new-1.jpg" alt="">
            </div>
        </div>
    </div>
</div>