<div class="dogs-list-main-container">
    <h1>Dogs list</h1>
    <div class="dogs-inner-container">
        <div class="dog-container">
            <div class="dog-image-container">
                <img src="../images/pexels-blue-bird-7210748(1).jpg" alt="">
            </div>
            <div class="dog-detail-container">
                <h3>Breed: <span>Boston Terrier</span></h3>
                <h3>Age: <span>32  Months</span></h3>
                <h3>In Service: <span>2 years</span></h3>
                <h3>Status: <span>Available</span></h3>
            </div>
        </div>
        <div class="dog-container">
            <div class="dog-image-container">
                <img src="../images/pexels-blue-bird-7210748(1).jpg" alt="">
            </div>
            <div class="dog-detail-container">
                <h3>Breed: <span>Boston Terrier</span></h3>
                <h3>Age: <span>32  Months</span></h3>
                <h3>In Service: <span>2 years</span></h3>
                <h3>Status: <span>Available</span></h3>
            </div>
        </div>
        <div class="dog-container">
            <div class="dog-image-container">
                <img src="../images/pexels-blue-bird-7210748(1).jpg" alt="">
            </div>
            <div class="dog-detail-container">
                <h3>Breed: <span>Boston Terrier</span></h3>
                <h3>Age: <span>32  Months</span></h3>
                <h3>In Service: <span>2 years</span></h3>
                <h3>Status: <span>Available</span></h3>
            </div>
        </div>
        <div class="dog-container">
            <div class="dog-image-container">
                <img src="../images/pexels-blue-bird-7210748(1).jpg" alt="">
            </div>
            <div class="dog-detail-container">
                <h3>Breed: <span>Boston Terrier</span></h3>
                <h3>Age: <span>32  Months</span></h3>
                <h3>In Service: <span>2 years</span></h3>
                <h3>Status: <span>Available</span></h3>
            </div>
        </div>
    </div>
</div>