
<div class="gallery-main-container">
    <h1 class="content-header">Dogs Gallery</h1>
    <div id="photoGallery" class="photo-gallery">
        
        <% totalDogPhotos.slice(0, 10).forEach(photo => { %>
            <div class="photo-item">
                <img src="<%= photo.imageUrl %>" alt="Image">
            </div>
        <% }) %>
    </div>

    <input type="hidden" id="hidden-element-photo" style="display:hidden" value="<%= JSON.stringify(totalDogPhotos) %>">
    <button id="loadMoreBtn" style="margin-top:2rem;" class="btn btn-primary">Load more</button>
    
    <div class="lightbox" id="lightbox">
        <span class="close" id="close">&times;</span>
        <img class="lightbox-content" id="lightbox-image">
    </div>
</div>
<script>
    try{
        const photoItems = document.querySelectorAll('.photo-item');

        photoItems.forEach(item => {
            
        });

        const loadMoreBtn = document.getElementById('loadMoreBtn');
        const photoGallery = document.getElementById('photoGallery');
        const totalDogData = document.getElementById('hidden-element-photo')
        let visibleImagesCount = 10; // Number of initially visible images
        const totalDogPhotosList = JSON.parse(totalDogData.value);
  
        loadMoreBtn.addEventListener('click', () => {
        const newImages = totalDogPhotosList.slice(visibleImagesCount, visibleImagesCount + 10);

        
        newImages.forEach(photo => {
            const photoItemDiv = document.createElement('div');
            photoItemDiv.classList.add('photo-item');

            const img = document.createElement('img');
            img.src = `${photo.imageUrl}`;
            img.alt = 'Image';
            
            photoItemDiv.appendChild(img);
            photoItemDiv.classList.add('wide');
        
            photoGallery.appendChild(photoItemDiv);
        });
        
            visibleImagesCount += 10;
            
        });
    }catch(error){
        console.log(error)
    }


</script>