<div class="acquiring-main-container donate-page-main-container">
    <h1 class="content-header">Donation Options</h1>
    <h2 class="content-second-header">Your support is greatly appreciated!</h2>
    <div class="donate-page-inner-container">
        <h2>How we use your donation</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, rem cumque dolorem accusantium vero minima aperiam, itaque a nesciunt nostrum repudiandae eaque iusto ipsam nemo fuga hic. Quisquam ipsam officiis libero, possimus accusantium sapiente sed non perspiciatis debitis suscipit! Ad, eum qui. Odio rerum ipsam vitae! Sapiente incidunt corporis soluta eveniet officia? Laborum itaque obcaecati illum doloribus ipsum eius ex est voluptates dolorem, rerum illo magni laudantium accusantium. Ad consequuntur pariatur odit fuga impedit praesentium tenetur natus quasi nam nihil facilis autem accusamus aut officia, optio illo voluptatem beatae provident quaerat rerum cupiditate! Ex quasi iusto rerum autem velit molestias.</p>
    </div>
    <div class="donation-content">
        <a href="/donate" style="color:black;" class="btn btn-primary hero-donate-btn">Donate</a>
        <p>If you would like to add the name of person  or organization, Please add in the payment page.</p>
    </div>
</div>