<div class="feed-main-container">
    <div class="feed-inner-container">

        <div class="sidebar">
            <ul>
                <li><a href="/feed" id="homeLink">Home</a></li>
                <li><a href="/feed/user-posts" id="yourPostsLink">Your Posts</a></li>
                <li><a href="/feed/create-new-post" id="newPostLink">New Post</a></li>
            </ul>
        </div>
        <div class="main-content" id="mainContent">
            <h3 class="post-content-header">Feed</h3>
            <!-- Feed posts will be dynamically added here -->
        </div>
    </div>
    
</div>