<div class="feed-main-container">
    <div class="feed-inner-container">
        <div class="sidebar">
            <ul>
                <li><a href="/feed" id="homeLink">Home</a></li>
                <li><a href="/feed/user-posts" id="yourPostsLink">Your Posts</a></li>
                <li><a href="/feed/create-new-post" id="newPostLink">New Post</a></li>
            </ul>
        </div>
        <div class="main-content" id="">
            <h3 class="post-content-header">Your Posts</h3>
            <div class="post-container">

                <div class="profile-pic-container user-post-pic-container">
                    <div class="profile-pic-inner-container">

                        <img class="profile-pic" src="../images/image.jpg" alt="Profile Pic">
                        <p class="user-name" >sayareddy</p>
                    </div>
                    <div>

                        <a href=""><button class="btn btn-secondary delete-btn">Delete</button></a>
                    </div>
                </div>
                <div class="post-content-container">
                    <div class="post-image-container">
                        <img class="post-image" src="../images/hero-new-11.jpg" alt="Post Image">
                    </div>
                    <div class="post-des">ihif rreiowh fioehiof eifheioh ihoo</div>
                </div>
            </div>
            <!-- Feed posts will be dynamically added here -->
        </div>
    </div>
</div>